
        .top_category a{
            font-size: 14px;
            text-decoration: none;

            color: #565b5b;
            
            font-family: 'Source Sans Pro', sans-serif;
        }

        .benifit_points ul li{
            font-size: 15.5px;
             color: black;
            text-align: justify;
             margin-bottom: 8px;
             font-family: 'Source Sans Pro', sans-serif;
   
        }



.benifit_head{
            font-size: 27px;

            color: #565b5b;
             font-weight: 700;
             margin-bottom: 10px;
             font-family: 'Source Sans Pro', sans-serif;

        }

        .about_product_head{
            font-size: 27px;

            color: #565b5b;
             font-weight: 700;
             margin-bottom: 10px;
             font-family: 'Source Sans Pro', sans-serif;

        }

        .product_detl{
            font-size: 15.5px;
             color: black;
             text-align: justify;
             font-family: 'Source Sans Pro', sans-serif;
        }

        .supplemnt_head{
            font-size: 27px;
             color: #565b5b;
             font-weight: 700;
             margin-bottom: 10px;
             font-family: 'Source Sans Pro', sans-serif;


        }

        .supplementUrl img{
            border: 1px solid #565b5b;
            width: 700px;


              }

        .supplementUrl{

            text-align: center;
            

        }

        .details_points{
            padding-right: 10px;
            /* width: 84%; */
            text-align: justify;

        }

        .details_points ul li{
            font-size: 15.5px;
             color: black;
             /* font-weight: 700; */
             margin-bottom: 8px;
             font-family: 'Source Sans Pro', sans-serif;

        }

        .product_details p{

            font-size: 27px;
             color: #565b5b;
             font-weight: 700;
             margin-bottom: 10px;
             font-family: 'Source Sans Pro', sans-serif;

            
        }

    
       


        .discount{

        background-image: url("https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg");
        height: 25px;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        padding-left:4px;
        text-align: initial;
        width: 98px;
        font-size: 15px;
        margin-left: 13px;
        padding-top: 5px;
        padding-bottom: 3px;
        padding-right: 20px;


        }

        .show_med {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    /* border: 1px solid green; */
                
                }    

        .med_priceandcart{

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    flex-wrap: wrap;
                    /* border: 1px solid pink; */


        }
        .med_image {
            /* border: 2px solid black; */
        }

        .med_image img{
            border: 1px solid #dfe3e6;
            
            height: 287px;
            width: 288px;
        }

        .name p{
            font-size: 27px;
             color: #565b5b;
             font-weight: 700;
             margin-bottom: 5px;
             font-family: 'Source Sans Pro', sans-serif;


        }

        .med_rating p{
            color: #5f6363;
            margin-bottom: 6px;

        }

        .med_quantity{
            font-family: 'Source Sans Pro', sans-serif;
        }

        .med_price p{
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 0px;
        }

      



        .med_cart button{
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            font-size: 20px;
            background: #10847E;
            padding: 8px;
            border-radius: 10px;

        }

        .med_details{
            width: 33rem;
        }

        
        .med_cart button:hover{
            font-size: 20px;
            background: #1d857f;
        }

        .med_rating p i{
            color: gold;
        }

        .manuf_exp{
            /* font-size: 27px; */
             color: black;
             font-weight: 500;
             /* margin-bottom: 5px; */
             font-family: 'Source Sans Pro', sans-serif;
             line-height: 15.5px;
            margin-top: 32px;

        }

        .manuf_exp b{
            color: #565b5b;
        }


