
<div class="container">


    <div class="card mt-3" style="border: 0px;">
        <div class="card-body">
         
            <p class="top_category">

                <a  [routerLink]="['/pharmacyMainDashboard']"   >       Dashboard &nbsp;               </a>     >
                <a    (click)="back()" style="cursor: pointer;" >       &nbsp;  Categories &nbsp;       </a>     >
                <a  >        &nbsp;<b style="text-transform:capitalize " >     {{selected_MedDetail_obj.category}}  </b> </a>

            </p>


        </div>
      </div>



    <!-- ---------------------------------------------------------------------------------------------------------- -->

    <div class="card mt-3 " >
        <div class="card-body">
         
            <div class="show_med">

                <div class="med_image">

                    <!-- imageUrl -->
                    <!-- <img src="https://img2.hkrtcdn.com/10760/prd_1075931-HealthKart-Multivitamin-with-Multimineral-Amino-Acids-Taurine-Ginseng-Extract-90-tablets-Unflavoured_o.jpg" alt=""> -->
                    <img src={{selected_MedDetail_obj.imageUrl}}    alt="">


                </div>
                <!-- medimage ends  -->

                <div class="med_details" style=" text-align: justify;">

                    <div class="name">
                        <p>  {{selected_MedDetail_obj.name}} </p>

                    </div>
                    <!-- name ends  -->

                    <div class="med_rating">
                        <p>
                            <b> {{selected_MedDetail_obj.rating}}   </b> &nbsp;
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                           
                            <i class="fa fa-star-half" aria-hidden="true"></i>

                        </p>

                    </div>
                    <!-- rating ends  -->

                    <div class="med_quantity"  >
                         <p >
                             Quantity : <b>   {{selected_MedDetail_obj.quantity}}     </b>
                         </p>

                        

                    </div>
                    <!-- quantity ends  -->


                    <div class="med_priceandcart">

                        <div class="med_price"  style="line-height: 15px; ">
                            <p>
                                MRP &nbsp; ₹{{selected_MedDetail_obj.amount}} 

                                <span class="discount ">
                                    {{selected_MedDetail_obj.discount}} 
                                </span>

                            </p>

                            <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                           

                            
                        </div>

                        <div class="med_cart">

                            <button type="button" class="btn btn-secondary">Add To Cart</button>
                        </div>
                        <!-- cart button  -->

                        


                    </div>
                    <!-- med price and cart ends  -->


                    <div class="manuf_exp">
                        <p *ngIf="selected_MedDetail_obj.controlled" >
                            <b>Drug Type &nbsp;&nbsp; : </b> &nbsp;  Controlled 
                        </p>

                        <p *ngIf="!selected_MedDetail_obj.controlled" >
                            <b>Drug Type &nbsp;&nbsp; : </b> &nbsp;  Uncontrolled 
                        </p>

                        <p> <b>Mnfg Date &nbsp; &nbsp;: </b> &nbsp;  {{selected_MedDetail_obj.packaged}}    </p>

                        <p>   <b>Expire Date&nbsp; :    </b>  &nbsp;  {{selected_MedDetail_obj.expired}}    </p>

                    </div>
                    <!-- manu expire  -->

                </div>
                <!-- med details  -->




            </div>
            <!-- show_med ends  -->


        </div>
      </div>
      <!-- card ends  -->


      <div class="card mt-5" style="border:0px solid;">
        <div class="card-body">
          
                    <div class="product_details">

                        <p>Product Details  
                         </p>
                         
                         <hr>

                        
                        

                        <div class="details_points mt-3">

                            <ul>
                                <li   *ngFor="let point of selected_MedDetail_obj.description.product_details" >
                                    {{point}}
                                </li>
                               
                            </ul>

                        </div>
                        <!-- details points  -->

                    </div>
                    <!-- prod details  -->




        </div>
      </div>
      <!-- card ends  -->
<!-- ----------------------------------------------------------------------------------------------- -->


<div class="supplement mt-2">

    <p  class="supplemnt_head"  >
        Supplement Information
        
    </p>
    <hr>

    <div class="supplementUrl mt-5">

        <!-- <img src="https://hkprod.s3.amazonaws.com/10760/bnr_1075937_o.jpg" alt=""> -->
        <img src={{selected_MedDetail_obj.description.supplementUrl}} alt="">

</div>
<!-- supplementurl end  -->

</div>
<!-- supplement  -->





<!-- --------------------------------------------------------------------------------------------------- -->

    <div class="card mt-5"  style="border: 0px;">
        <div class="card-body">
          
                
    <div class="about_product">
        <p class="about_product_head">  About Product    </p>
        <hr>

        <p class="product_detl mt-4">

            {{selected_MedDetail_obj.description.about_product}}
        </p>
    </div>
    <!-- about products ends  -->


        </div>
      </div>
      <!-- card ends  -->

      <!-- ------------------------------------------------------------------------------------------------------- -->

      <div class="card " style="border: 0px;">
        <div class="card-body">
          
            <div class="benifits">

                <div class="benifit_head">

                    Benifits
                </div>
                <hr>
                <!-- benifit head  -->


                <div class="benifit_points mt-4">
                    <ul>
                        <li    *ngFor="let point of selected_MedDetail_obj.description.benefits " > 
                            {{point}}
                            
                        </li>
                        


                    </ul>


                </div>

            </div>
            <!-- benifits  -->






        </div>
      </div>














</div>
<!-- cointainer ends  -->
