.container1 {
    /* background-image: url("https://image.freepik.com/free-vector/abstract-health-medical-science-healthcare-icon_36402-277.jpg"); */

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQnU2_DfRQMKpiUiMDLd0M7GHo3gpqO2GRGuA&usqp=CAU");
    background-repeat: none;
    background-size: cover;

    /* padding-left: 250px;

    padding-right: 250px;
    padding-top: 50px;
    height: 360px;
    margin-bottom: 345px; */
}
#pass_modal:hover{
    font-size:18px ;
    cursor: pointer;
}

.acc{
    display: flex;
     justify-content: center; 
     font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #0e103a;
    font-size: 16px;
     
}


#top{
    background: #0e103a;
    color: white;
}

.form-group button {
    /* font-weight:600; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    /* margin-top: 15px; */
    text-align: center;
    color: white;
    background-color:#0e103a;
}
label {
    /* font-weight:600; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15.5px;
    margin-top: 0.5px;
    /* margin-bottom: 0.4px; */
    font-weight: 540;
}
input,
select {
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;
}
input {
    height: 30px;
}

#top,#right{
    margin: 5px 10%
}

#top p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */

    font-weight: bold;
}

#right {
    padding-bottom: 5px;

    /* border-right: 5px solid green;
    border-top: 5px solid green; */
    border: 0px;
   
    /* box-shadow: 8px 10px 5px 0px grey; */


    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#top i:hover {
    font-size: 35px;
    cursor: pointer;
}

#top p:hover {
    font-size: 35px;
    cursor: pointer;
}
.form-group button:hover {
    font-size: 18px;
    cursor: pointer;
    
}
small {
    /* margin-left: 100px; */
}
