

<div class="ui  dimmer " id="load"  [class.active]="loader"  style="height: 170%;width: 100%;"  >
  <div class="ui massive text loader">Registering User Details ...</div>
</div>


<!-- ------------------------------------------------------------------------------------------------------------------------------ -->


<app-alert-warning    [invalidity]="invalidity" >   </app-alert-warning>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="alert alert-success m-0 alert-dismissible fade show" role="alert"  *ngIf="validity"   style="padding: 15px; margin: 0px;"  >
  <strong>Congratulations {{usermodel.full_name}}  !</strong>&nbsp; You have successfully submitted your application.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

 <!-- {{this.validity}} -->

 <!-- ---------------------------------------------------------------------------------------------------------------------------------- -->

 <div class="container">

  <div class="card" style="border: 0px;"  >
    <div class="card-body" id="top"   style=" text-align: center;font-size:28px;">
      <i class="fas fa-user-plus">  </i>
      <p>REGISTER</p>
      
  
    </div>
  </div>
   <!-- ------------------------------------------------------------------------------------------------------------- -->
   
   <div class="card" id="right" style="">
  
    <form #userform="ngForm"  class="card-body">
     <!-- {{userform.value | json}}
     <br>
     {{usermodel | json}} -->
  
     <div class="contact-form">
       <div class="form-group">
         <label class="control-label col-sm-10" for="fullname">FULL NAME</label>
         <div class="col-sm-12">
           <input type="text" class="form-control" id="fullname" #fname="ngModel"  pattern="^[a-zA-Z]+\D*"  [class.is-invalid]="(fname.invalid && fname.touched) "     [(ngModel)]="usermodel.full_name" required  name="fullname">
  
            <div  *ngIf="(fname.touched && fname.invalid) " >
             <small class="text-danger" *ngIf="fname.errors.required">Name is required **</small>
             <small class="text-danger" *ngIf="fname.errors.pattern">Invalid name **</small>
  
           </div>
  
  
         </div>
  
         
       </div>
       
       <!-- {{fname.touched}}{{fname.invalid}} -->
       
  
       
       <!-- ------------------------------------------------------------------------------------------------------ -->
  
       <div class="form-group">
         <label class="control-label col-sm-10" for="email">EMAIL</label>
         <div class="col-sm-12">
           <input type="email" class="form-control" id="email" #email="ngModel"   [class.is-invalid]="email.invalid && email.touched"     [(ngModel)]="usermodel.email" required email   name="email">
  
           <div *ngIf="email.touched && email.invalid"    >
             <small class="text-danger"  *ngIf="email.errors.required" >Email is required **</small>
             <small class="text-danger" *ngIf="email.errors.email"  >Wrong email id !!</small>
            </div>
  
         </div>
  
        
       </div>
  
       
       <!-- ------------------------------------------------------------------------------------------------------ -->
  
     
  
       <div class="form-group">
        <label  class="control-label col-sm-12 "    for="password">PASSWORD &nbsp;   <i class="fas fa-info-circle" id="pass_modal"  (click)="openModal()"     ></i>    </label>
        <div class="col-sm-12">
          <input type="password" class="form-control" id="password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"   #password="ngModel" [class.is-invalid]="password.invalid && password.touched"   [(ngModel)]="usermodel.password"  required minlength="8"  name="password"  >
 
          <div *ngIf="password.touched && password.invalid"   >
            <small class="text-danger" *ngIf="password.errors.required" >Password is required **</small>
            <small class="text-danger " *ngIf="password.errors.minlength" >Passsword must be aleast 8 characters.</small>
            <small class="text-danger" *ngIf="password.errors.pattern &&  !(password.errors.minlength) " >Passsword must contain atleast 1 uppercase, 1 lowercase, 1 digit & 1 special character.</small>
 
           </div>
 
        </div>
 
        
 
      </div>
 
      
      <!-- ------------------------------------------------------------------------------------------------------ -->
 
      <div class="form-group">
       <label  class="control-label col-sm-10 "    for="confirmPassword">CONFIRM PASSWORD</label>
       <div class="col-sm-12">
         <input type="password" class="form-control" id="confirmPassword"   ngValidateEqual="password"    #confirmPassword="ngModel"   [(ngModel)]="usermodel.confirmPassword"    [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"    required   name="confirmPassword"  >
         
        
         <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid"   >
           <small class="text-danger" *ngIf="confirmPassword.errors.required" >Password is required **</small>
           <small class="text-danger" *ngIf="confirmPassword.hasError('notEqual') && !confirmPassword.errors.required " >Password does not match **</small>
           

           
          </div>

       </div>

       

     </div>



     <!-- ------------------------------------------------------------------------------------- -->




  
  <div class="form-group ">
   <label class="control-label col-sm-10 mt-0 " for="phone">CONTACT NO</label>
   <div class="col-sm-12">
     <input type="tel"  class="form-control"  id="phone" #phone="ngModel"  pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched"    [(ngModel)]="usermodel.phone"  required   name="phone" >
  
     <div  *ngIf="(phone.touched && phone.invalid) " >
       <small class="text-danger" *ngIf="phone.errors.required">Phone number is required **</small>
       <small class="text-danger" *ngIf="phone.errors.pattern">Invalid phone number.</small>
  
     </div>
  
  
   </div>
  
   
  
  </div>
  
  
  
  
       <!-- ------------------------------------------------------------------------ -->
  
  
       <div class="form-group">
         <label class="control-label col-sm-10 " for="address">ADDRESS</label>
         <div class="col-sm-12">
           <input type="text" class="form-control" id="address" #address="ngModel"   [class.is-invalid]="address.invalid && address.touched"   [(ngModel)]="usermodel.address"   required name="address">
  
           <div  *ngIf="(address.touched && address.invalid) " >
             <small class="text-danger" *ngIf="address.errors.required">Address is required **</small>
             <!-- <small class="text-danger" *ngIf="address.errors.pattern">Address should start with alphanumeric character.</small> -->
  
             
           </div>
  
         </div>
  
  
       </div>
       
      
  
       <!-- -------------------------------------------------------------------------------------- -->

       <div class="form-group">

        <div class="row">
          <div class="form-group col-md-4">
            <label   class="control-label col-sm-10 "   for="inputState">STATE</label>
              <div class="col-sm-12">

                <select id="inputState" class="form-control"    #state="ngModel"   [class.is-invalid]="state.touched && is_state_selected_error  "      [(ngModel)]="usermodel.state" required   name="inputState"  (blur)="selectedState_onblur(state.value)"    (ngModelChange)="selectedState(state.value)"  >
                  <option value="none" selected >Choose ...</option>
                  <option   value="{{state}}"  *ngFor="let state of state_array"  >{{state}}</option>
                </select>
                <div  *ngIf="(state.touched && is_state_selected_error) " >
                  <small class="text-danger" *ngIf="is_state_selected_error" >Please select state **</small>
                </div>

              </div>
          </div>

          <div class="form-group col-md-4">
            <label   class="control-label col-sm-10 "   for="inputCity">CITY</label>
              <div class="col-sm-12">

                <select id="inputCity" class="form-control"   #city="ngModel"   [class.is-invalid]="city.touched && is_city_selected_error"    (ngModelChange)="selectedCity(city.value)" (blur)="selectedCity(city.value)"    [(ngModel)]="usermodel.city"    required name="inputCity"  >
                  <option value="none" selected >Choose ...</option>
                  <option  value="{{city}}" *ngFor="let city of city_array" >  {{city}}  </option>
                </select>

                <div  *ngIf="(city.touched && is_city_selected_error) " >
                  <small class="text-danger" *ngIf="is_city_selected_error" >Please select city **</small>
                </div>

              </div>
          </div>


          <div class="form-group col-md-4">
            <label   class="control-label col-sm-10 "   for="inputPin">PIN</label>
              <div class="col-sm-12">

                <input type="text" class="form-control" id="inputPin" #pin="ngModel" pattern="^\d{6}$"  [class.is-invalid]="pin.touched && pin.invalid" required    [(ngModel)]="usermodel.pin"      name="pin"       >

                <div  *ngIf="(pin.touched && pin.invalid) " >
                  <small class="text-danger" *ngIf="pin.errors.required">Pin number is required **</small>
                  <small class="text-danger" *ngIf="pin.errors.pattern">Invalid pin number.</small>
                </div>



              </div>
          </div>
          






        </div>
          <!-- ----row close ---- -->


       </div>








       <!-- -------------------------------------------------------------------------------------------------------------------- -->
  
  
  
       <div class="form-group">
         
         <label class="control-label col-sm-2  mb-2  " for="gender">GENDER</label>
         <br>
         
  
         <div class="custom-control custom-radio custom-control-inline col-sm-3  ">
           <input type="radio" id="gender_male" class="custom-control-input"      #gender="ngModel"   required    value="male"  [(ngModel)]="usermodel.gender"   name="genderbtn"   >
           <label class="custom-control-label ml-3" for="gender_male">MALE</label>
         </div>
         <div class="custom-control custom-radio custom-control-inline col-sm-4  ">
           <input type="radio" id="gender_female" class="custom-control-input"       #gender="ngModel"   required   value="female" [(ngModel)]="usermodel.gender"    name="genderbtn"   >
           <label class="custom-control-label ml-3 " for="gender_female">FEMALE</label>
         </div>
         <div class="custom-control custom-radio custom-control-inline col-sm-4  ">
           <input type="radio" id="gender_others" class="custom-control-input "     #gender="ngModel"    required    value="others" [(ngModel)]="usermodel.gender"    name="genderbtn"   >
           <label class="custom-control-label ml-3" for="gender_others">OTHERS</label>
         </div>
         
         
         
  
       </div>
       <!-- form group gender  -->
  
      
       <!-- ------------------------------------------------------------------------------------------------ -->
       
       <div class="form-group"     style="display: flex; justify-content: center; "  >
         <div class="col-sm-offset-2 col-sm-10 mt-4" style="display: flex; justify-content: center; ">
           <button type="submit" class="btn btn-default" [disabled]='!usermodel.gender' id="register_button"   (click)="form_validation()"  >REGISTER</button>
         </div>
       </div>
  
       <!-- rgister close -->

       <!-- ---------------------------------------------------------------------------- -->
       <!-- <div class="acc"     >
        <p>
            Already have an account?
            <a  [routerLink]="['/user_signin']" routerLinkActive="active"  > Click Here </a>
          
        </p>
      </div> -->

<div class="card" style="border: 0px; margin: 0px; padding: 0px;"  >
  <div class="card-body acc">
    Already have an account? &nbsp;
    <a  [routerLink]="['/user_signin']" routerLinkActive="active"  > Click Here </a>
  </div>
</div>

      <!-- acc close -------------------------------------------------------------------- -->
  
  
  
     </div>
     <!-- form close -->
  
     
   </form>
   <!-- form close -->
  
  
  
  </div>
  <!-- right container close -->



 </div>
 <!-- conainer class close outer  -->


 <!-- Success message -->

 <div class="alert alert-success m-0 alert-dismissible fade show" role="alert"  *ngIf="showSucessMessage"   style="padding: 15px; margin: 0px;"  >
  <strong>Congratulations {{usermodel.full_name}} !</strong> &nbsp;You have successfully submitted your application.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<!-- Error message -->

<div class="alert alert-danger m-0 alert-dismissible fade show" role="alert"  *ngIf="serverErrorMessages"   style="padding: 15px; margin: 0px;"  >
  <strong>Opps !!</strong> &nbsp; {{serverErrorMessages}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


