
<div class="show_med_here mt-3 mb-3 mr-3 ml-3">

      


  <div class="card mt-3 " style="border: 0px"   *ngFor="let ele of uncontrolled_med_array"   >
   <div class="card-body"  style="padding: 0px;" >
    
       <div class="show_med">


        <div class="imgAndDetails">

          <div class="med_image">
               
            <img src = {{ele.medicine_details.imageUrl}} alt="" (click)="showMedicineDetails(ele.medicine_details)" >


        </div>
        <!-- medimage ends  -->

        <div class="med_details" style=" text-align: justify; width: 27rem;">

            <div class="name" >
               
                <p>{{ele.medicine_details.name}} </p>


            </div>
            <!-- name ends  -->

           

            <div class="med_quantity"  >
                 <p >
                     Quantity : <b>  {{ele.medicine_details.quantity}}     </b>
                 </p>

                

            </div>
            <!-- quantity ends  -->


            <div class="med_priceandcart">

                <div class="med_price"  style="line-height: 15px; ">
                    <p>
                        MRP &nbsp; ₹{{ele.medicine_details.amount}}

                        <span class="discount ">
                        {{ele.medicine_details.discount}}
                        </span>

                    </p>

                    <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                   

                    
                </div>

               <!-- cart btn was present  -->


            </div>
            <!-- med price and cart ends  -->
        </div>
        <!-- med details  -->


        </div>
        <!-- image and details  -->

 

          <div class="med_cart">

                    <button type="button" class="btn btn-secondary" (click)="removeMedicine(ele)" >
                        Remove
                    </button>
          </div>
          <!-- cart button  -->

          <div class="med_cart_add_subs">

           
            
            <i class="fas fa-minus-square"   (click)="subQuantity(ele)"   ></i>
            
            <span> {{ele.quantity_added}} </span>

            <i class="fas fa-plus-square" (click)="addQuantity(ele)"   ></i>



          </div>
          <!-- cart addsub button  -->

          <div class="med_cart_tot_price">

            ₹{{ele.total_amount}}  


          </div>
          <!-- cart button  -->




       </div>
       <!-- show_med ends  -->
   </div>
 </div>
 <!-- card ends --------------------------------------------------------- -->

 


</div>
<!-- show med here ebnds  -->

<!-- ---------------------------------------------------------------------------------------- -->


<!-- controlled html down -->

<div class="show_med_here mt-3 mb-3 mr-3 ml-3">

      


  <div class="card mt-3 " style="border: 0px"   *ngFor="let ele of controlled_med_array"   >
   <div class="card-body"  style="padding: 0px;" >


    <!-- ------------------------------------------------------------------------------------ -->


 <div class="alert alert-danger m-0 alert-dismissible fade show" role="alert"  *ngIf="message && (medicine_selected=== ele)"   style="padding: 15px;text-align: center;font-size: 15px; font-family: 'Source Sans Pro', sans-serif;"  >
  <strong> {{message}}  !</strong>&nbsp; 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<!-- ------------------------------------------------------------------------------------------------ -->

    
       <div class="show_med">



        <div class="imgAndDetails">

          <div class="med_image">
               
            <img src = {{ele.medicine_details.imageUrl}} alt="" (click)="showMedicineDetails(ele.medicine_details)" >


        </div>
        <!-- medimage ends  -->

        <div class="med_details" style=" text-align: justify; width: 27rem;">

            <div class="name" >
               
                <p>{{ele.medicine_details.name}} </p>


            </div>
            <!-- name ends  -->

           

            <div class="med_quantity"  >
                 <p >
                     Quantity : <b>  {{ele.medicine_details.quantity}}     </b>
                 </p>

                

            </div>
            <!-- quantity ends  -->


            <div class="med_priceandcart">

                <div class="med_price"  style="line-height: 15px; ">
                    <p>
                        MRP &nbsp; ₹{{ele.medicine_details.amount}}

                        <span class="discount ">
                        {{ele.medicine_details.discount}}
                        </span>

                    </p>

                    <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                   

                    
                </div>

               <!-- cart btn was present  -->


            </div>
            <!-- med price and cart ends  -->
        </div>
        <!-- med details  -->


        </div>
        <!-- image and details  -->

 

          <div class="med_cart">

                    <button type="button" class="btn btn-secondary"  (click)="removeMedicine(ele)" >
                        Remove
                    </button>
          </div>
          <!-- cart button  -->

          <div class="med_cart_add_subs">

           
            
            <i class="fas fa-minus-square"   (click)="subQuantity(ele)"   ></i>
            
            <span> {{ele.quantity_added}} </span>

            <i class="fas fa-plus-square" (click)="addQuantity(ele)"   ></i>



          </div>
          <!-- cart addsub button  -->

          <div class="med_cart_tot_price">

            ₹{{ele.total_amount}} 
            

          </div>
          <!-- cart button  -->




       </div>
       <!-- show_med ends  -->
   </div>
 </div>
 <!-- card ends --------------------------------------------------------- -->

 


</div>
<!-- show med here ebnds  -->

<!-- ---------------------------------------------------------------------------------------- -->



<div class="tot_amount mb-3 mr-3 ml-3">

  <div class="card mt-3"  style="border: 0px"   >

    <div class="card-body"  style="padding: 0px;"  >

      <p class="amt_mentioned">
        <span class="amt_head"> TOTAL &nbsp; AMOUNT  </span>   ₹ {{total_amount_cart}}.00
            

      </p>


    </div>
  </div>
  <!-- card and crd body ends here  -->


</div>
<!-- tot amount ends  -->





<hr>

<div class="alert alert-danger alert-dismissible fade show" role="alert"  *ngIf="messagePrescription"  style="font-family: 'Source Sans Pro', sans-serif;;margin: 0px;padding: 15px;" >
  <strong> {{messagePrescription}}  </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

</div>


<!-- --------------------------------------------------------------------------------------------------------------- -->


<div class="card" id="right" style="margin: 5px 15%;">

            <form #userform="ngForm"  class="card-body">
                <!-- {{userform.value | json}}
                {{usermodel | json}} -->
                <div class="contact-form">

            
                  <div class="input-group mb-4" *ngIf="!(controlled_med_array.length === 0 )">
                    
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01"  #image accept="image/*" (change)="inputPrescription($event)"  >
                      <label class="custom-file-label " for="inputGroupFile01" style="font-size: 17.5px;"  > Choose Prescription </label>
                    </div>
                  </div>

                  <div class="input-group mb-4"   *ngIf="imageSrc && !(controlled_med_array.length === 0 )"   style="display: flex; justify-content: center;"   >

                    <img [src]="imageSrc" alt=""      style="border: 1px solid grey;width: 50%;">


                  </div>
                   






                        <div class="form-group"     style="display: flex; justify-content: center; "  >
                            <div class="col-sm-offset-2 col-sm-10 mt-4" style="display: flex; justify-content: center; ">
                              <button type="submit" class="btn btn-default"  id="register_button"   (click)="Paynow()"  > PLACE ORDER</button>
                            </div>
                        </div>
                        <!-- ------------------------------------------------------------------------------------ -->

                        


                      


                </div>
                <!-- contact form close  -->

               

            </form>
        </div>
        <!-- right close  -->