<div class="about-section pb-0 mb-0">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            At medicalcare.com we not only provide you with a wide range of medicines listed under various categories, we also offer a wide choice of OTC products including wellness products, vitamins, diet/fitness supplements, herbal products, pain relievers, diabetic care kits, baby/mother care products, beauty care products and surgical supplies. 
        </p>
        <div class="assistance">
            <span>Convinience</span>
            <span>One Stop Shop</span>
            <span>Trust</span>
        </div>
    </div>
</div>