

.display{
  font-size: 49px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #0e103a;
    padding-bottom:14px;
}

.l1{
  margin: 0px 220px;
  font-size: 16px;
  

}

.head{
  font-size: 19px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #0e103a;
    margin: 10px 0px;
    padding-top: 20px;
}

.charts{

/* border:1px solid black; */
z-index:-1;

margin-top : -45px;
}

#chrt{
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 16px;
  padding-top:0px;
  font-weight: 400;
}

.btncontainer{
  margin-top: 66px;
  padding: 0px 349px;
  margin-bottom: 20px;
}

#btn1{
  width: 100%;
  padding: 11px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16.8px;
  background: rgb(30, 58, 58);
  font-weight: 500;
}

#btn1:hover{

  cursor: pointer;
  
 background: darkslategrey;
  box-shadow: 5px 5px 25px 2px gray;

}
