<form class="form">

  <div class="head">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref1">Select Country </label>

  </div>


  <div class="l1">
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"  style="height: 41px;"  #refinput (click)="update_country(refinput.value)"  >

      <option [selected]="sel.value === 'Afghanistan' " value="{{country }}"  #sel *ngFor="let country of country_array;index as i;"  >{{country }}</option>

    </select>

  </div>

</form>


<div class="jumbotron bg-white ml-3 mr-3" style="text-align: center;padding-bottom: 0px;">



  <h1 class="display ">     <img [src]="selected_flag" alt="" class="mr-3" style="width: 52px;padding-bottom: 12px;">        {{selected_country | uppercase}}</h1>
  <hr>


<app-covid-dashboard    [tot_confirmed]="tot_confirmed" [tot_active]="tot_active"  [tot_recovered]="tot_recovered"
[tot_deaths]="tot_deaths"    ></app-covid-dashboard>


</div>



<div class="row charts ml-3 mr-3">



  <div class="col-4 p-2 "   id="chrt"  >

    <google-chart  class="4"  [data]="lineChart"  #mychart  ></google-chart>
   CONFIRMED CASES

  </div>

  <div class="col-4 p-2 "  id="chrt">
    <google-chart  class="4"  [data]="lineChart2"  #mychart2 style="color:midnightblue" ></google-chart>

    RECOVERED CASES

  </div>

  <div class="col-4 p-2 "  id="chrt"  style="color:red">
    <google-chart  class="4"  [data]="lineChart3"  #mychart3  ></google-chart>
DEATH CASES

  </div>



</div>









<div class="btncontainer">
  <button class="btn btn-secondary " type="button"    id="btn1"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    VIEW DATA-TABLE
  </button>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body mb-4 " style="border: 0px solid white">

    <div class="row1 ml-5 mr-5 pl-5 pr-5 ">


      <div class=" ">
    
        <table class="table table-hover table-md">
          <thead style="text-align: center;">
            <tr class="table-light">
              <th>SL NO.</th>
    
              <th>DATES</th>
              <th>CONFIRMED</th>
              <th style="color: midnightblue;"   >RECOVERED</th>
              <th style="color: red;"   >DEATHS</th>
    
            </tr>
          </thead>
          <tbody style="text-align: center;">
            <tr *ngFor="let date of dates;index as i;">
              <td data-label="Name">{{i+1}}</td>
    
              <td data-label="Name">{{date}}</td>
              <td data-label="Age">{{ confirmed_obj[date]}}</td>
              <td data-label="Age" style="color: midnightblue;" >{{ recovered_obj[date]}}</td>
              <td data-label="Age" style="color: red;"  >{{ deaths_obj[date]}}</td>
    
            </tr>
    
          </tbody>
        </table>
    
    
    
      </div>
    
    
    </div>

  </div>
</div>