<div class="cont321 " style="background: #2f2f2f; margin-bottom: 0px; padding-bottom: 0px;">



    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center" style="font-size: 20px; padding-top: 10px;  ">
            <li class="list-inline-item" style=""><a href="https://www.facebook.com"><i class="fa fa-facebook" style="color: white;"  ></i></a></li>
            <li class="list-inline-item" style=""><a href="https://www.twitter.com"><i class="fa fa-twitter"  style="color: white;" ></i></a></li>
            <li class="list-inline-item" style=""><a href="https://www.instagram.com"><i class="fa fa-instagram"  style="color: white;"  ></i></a></li>
            <li class="list-inline-item" style=""><a href="https://www.google.com"><i class="fa fa-google-plus" style="color: white;"  ></i></a></li>
            <li class="list-inline-item" style=""><a href="https://www.gmail.com" target="_blank"><i class="fa fa-envelope" style="color: white;"   ></i></a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p><u><a   routerLink="" target="_blank"    >Team Contribution : </a></u> This project has been made possible by the efforts and contribution of team members of Medical Care in year 2020. </p>
            <p class="h6 pb-2">© All right Reversed.<a class="text-green ml-2" routerLink="" target="_blank">Medical Care Team </a></p>
        </div>

    </div>




</div>
