<div class="ui  dimmer " id="load"  [class.active]="loader">
    <div class="ui massive text loader"> Fetching User Order Details ... </div>
  </div>
  
  <div class="ui  dimmer " id="load"  [class.active]="loader2">
    <div class="ui massive text loader"> Updating Status ... </div>
  </div>


<div class="show_med_here mt-3 mb-3 mr-3 ml-3"     >

    

    <div class="card mt-3 pl-3 pr-3 mb-4" style="border:1.2px solid #b9bdc0; border-radius: 15px; margin: 0px 25px;    "   *ngFor="let outer_ele of prevOrderDetails_arrayOfObjects"   >
     <div class="card-body"  style="padding: 0px;"     >
  
  
     <div class="date">

        <span>Ordered On : &nbsp;  {{(outer_ele.order_date)}}    </span>
           
            

     </div>
     <!-- date -->
      
         <div class="show_med"     *ngFor="let ele of outer_ele.total_medicine_details"   >
  
  
  
          <div class="imgAndDetails">
  
            <div class="med_image">
                 
              <img src = {{ele.medicine_details.imageUrl}} alt=""  >
  
  
          </div>
          <!-- medimage ends  -->
  
          <div class="med_details" style=" text-align: justify; width: 27rem;">
  
              <div class="name" >
                 
                  <p>{{ele.medicine_details.name}} </p>
  
  
              </div>
              <!-- name ends  -->
  
             
  
              <div class="med_quantity"  >
                   <p >
                       Quantity : <b>  {{ele.medicine_details.quantity}}     </b>
                   </p>
  
                  
  
              </div>
              <!-- quantity ends  -->
  
  
              <div class="med_priceandcart">
  
                  <div class="med_price"  style="line-height: 15px; ">
                      <p>
                          MRP &nbsp; ₹{{ele.medicine_details.amount}}
  
                          <span class="discount ">
                          {{ele.medicine_details.discount}}
                          </span>
  
                      </p>
  
                      <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                     
  
                      
                  </div>
  
                 <!-- cart btn was present  -->
  
  
              </div>
              <!-- med price and cart ends  -->
          </div>
          <!-- med details  -->
  
  
          </div>
          <!-- image and details  -->
  
   
  
           
  
            <div class="med_cart_add_subs">
  
             
              
                Quantity
                
              <span > {{ele.quantity_added}} </span>
  
              
  
  
  
            </div>
            <!-- cart addsub button  -->
  
            <div class="med_cart_tot_price">
  
              ₹{{ele.total_amount}} 
              
  
            </div>
            <!-- cart button  -->

  
  
         </div>
         <!-- show_med ends  -->


        

         <!-- ------------------------------------------------------------------------------------- -->

         <div class="track_outer ">

            <div class="track ">
                <div class="step "  [class.active]="((1 <= status_selected ) && (outer_ele._id === selected_outer_ele_id) ) || (1<=outer_ele.status)  "    >   <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Ordered</span> 
                    <span>  {{outer_ele.order_date | date:'dd-MM-yyyy' }}  </span>   <span *ngIf="outer_ele.order_date  !== undefined      ">at</span>
                    {{outer_ele.order_date | date:'mediumTime'}}
                        
                </div>
                <div class="step "  [class.active]="((2 <= status_selected ) && (outer_ele._id === selected_outer_ele_id) ) || (2<=outer_ele.status)     " > <span class="icon"> <i class="fa fa-box-open"></i> </span> <span class="text"> Packaged</span> 
                
                    <span>  {{outer_ele.packaged_date | date:'dd-MM-yyyy' }}  </span>   <span *ngIf="outer_ele.packaged_date !== undefined    ">at</span>
                    {{outer_ele.packaged_date | date:'mediumTime'}}

                </div>
                <div class="step"  [class.active]="((3 <= status_selected ) && (outer_ele._id === selected_outer_ele_id) )  || (3<=outer_ele.status)    "  > <span class="icon"> <i class="fa fa-people-carry"></i> </span> <span class="text"  > Dispatched </span> 
                
                    <span>  {{outer_ele.dispatched_date | date:'dd-MM-yyyy' }}  </span>   <span *ngIf="outer_ele.dispatched_date !== undefined    ">at</span>
                    {{outer_ele.dispatched_date | date:'mediumTime'}}
                
                </div>
                <div class="step"   [class.active]="((4 <= status_selected ) && (outer_ele._id === selected_outer_ele_id) )  || (4<=outer_ele.status)    " > <span class="icon"> <i class="fas fa-truck"></i> </span> <span class="text"> Delivered  </span> 
                
                    <span>  {{outer_ele.delivered_date | date:'dd-MM-yyyy' }}  </span>  <span *ngIf="outer_ele.delivered_date !== undefined    ">at</span>
                    {{outer_ele.delivered_date | date:'mediumTime'}}
                
                </div>
            </div>


         </div>
         <!-- trackouter  -->
         <!-- ---------------------------------------------------------------------------------------------- -->

         <div class="drpdwn mt-3">

            <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01" style="background-color: #099393;color: white;font-size: 17px;   ">STATUS</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01"  #status (change)="statusSelected(status.value , outer_ele)" style="height: auto;"  >
                 
                  <option value="1"  [disabled]="(1<= outer_ele.status)"  [class.disabled_background]="(1<= outer_ele.status)" [selected]="(1 === outer_ele.status)"  >Ordered</option>

                  <option value="2"  [disabled]="(2<= outer_ele.status)"  [class.disabled_background]="(2<= outer_ele.status)" [selected]="(2 === outer_ele.status)"  >Packaged</option>
                  <option value="3"  [disabled]="(3<= outer_ele.status)"  [class.disabled_background]="(3<= outer_ele.status)" [selected]="(3 === outer_ele.status)"  >Dispatched</option>
                  <option value="4"  [disabled]="(4<= outer_ele.status)"  [class.disabled_background]="(4<= outer_ele.status)" [selected]="(4 === outer_ele.status)"  >Delivered</option>

                </select>
              </div>



         </div>
         <!-- dropdown  -->

         <!-- ------------------------------------------------------------------------------------- -->

         <div class="form-group"     style="display: flex; justify-content: center; "  >
            <div class="col-sm-offset-2 col-sm-10 mt-4" style="display: flex; justify-content: center; ">
              <button type="submit" class="btn btn-default"  id="register_button"   (click)="updateStatus()"   [disabled]="status_selected === undefined || outer_ele.status=== 4 "  >UPDATE &nbsp; STATUS</button>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------ -->


       




     </div>
   </div>
   <!-- card ends --------------------------------------------------------- -->
  
   
  
  
  </div>
  <!-- show med here ebnds  -->
  
  <!-- ------------------------------------------------------------------------------------------------------------------- -->
  
