#cart_items_no{
    font-size: 12.2px;
    border: 1px solid white;
    border-radius: 100%;
    background: white;
    padding-left: 1.5px;
    padding-top: 0.155px;
   
    padding-right: 4px;
    color: black;
}


.cart_button:hover {
    cursor: pointer;
    
    border-bottom: 4px solid red;
    height: 45px;
    margin-right: 18px;


    /* font-size: 26px; */
    font-weight: 500;
}

.cart_button{
    /* font-size: 22px ; */
    font-size: 21px;

    margin-right: 18px;
}


.rightcontainer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid white; */

}

.rightele a{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: 25px;
}



#navbar1 {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px outset white;
    padding-left: 50px;
    padding-right: 50px;
    /* border-bottom: 10px solid rgb(241, 218, 4); */
}

#topic {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 25px;
}

li {
    /* font-family: "Vollkorn", serif; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: 19px;
}

#list1,#list2{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: 19px;
    background-color: black;

}



#list2:hover,#list1:hover {
    border-bottom: 4px solid red;
    height: 50px;

    font-size: 24px;
    font-weight: 500;
}
/* #list2:hover {
    border-bottom: 8px solid red;
    height: 56px;

    font-size: 22px;
    font-weight: 500;
} */

button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: 18px;
    border: 2px solid white;
}

button:hover {
    border: 3px solid white;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;

    color: white;
}

a:hover, #righyextr:hover {
    border-bottom: 4px solid red;
    height: 56px;

    font-size: 22px;
    font-weight: 500;
    
}

.rightele a:hover {
    border-bottom: 4px solid red;
    height: 60px;

    font-size: 28px;
    font-weight: 500;
    
}

#navbar1:hover {
    /* border-bottom: 10px solid rgb(29 14 255); */
}

#listdown1,#listdown2{

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: 19.5px;
    background-color: black;
    padding-left: 0px;


}

#listdown1:hover,#listdown2:hover {
    border-bottom: 3px solid red;
    height: 40px;
    cursor: pointer;

    font-size: 22px;
    font-weight: 500;
}
.dropright2{

margin-left: 10px;    
font-size: 25px;
border: 2px solid red;
}

#rightoption{
    font-size: 25px;
}
#rightoption:hover{
    font-size: 29px;
    
}

#rightoption22{
    font-size: 23px;
    border: 0px;
}
#rightoption22:hover{
    font-size: 25px;
    border: 0px;

    
}