<nav class="navbar navbar-expand-lg navbar-dark flex-column flex-md-row bd-navbar sticky-top " id="navbar1">
  <a class="navbar-brand" id="topic" [routerLink]="['home']" routerLinkActive="active" style="font-size: 28px;border: 0px;">MEDICAL
    CARE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

          <li class="nav-item active ml-4">
            <a class="nav-link" id="home" [routerLink]="['home']" routerLinkActive="active">HOME <span
                class="sr-only">(current)</span></a>
          </li>
     

      <li class="nav-item active ml-4">
        <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">ABOUT </a>
      </li>
  
        <li class="nav-item active ml-4">
          <a class="nav-link" [routerLink]="['contact']" routerLinkActive="active">CONTACT </a>
        </li>

<!-- -------------------------------------------------------------------------------------------------------------------- -->


      <li  class="nav-item dropdown ml-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"     >
            
            <i class="fas fa-users"   style="color: white;"  ></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"  style="background-color: black;   " >
           
            <a class="dropdown-item mb-2" [routerLink]="['user_signin']" routerLinkActive="active" id="list1"    >SIGN IN    <i class="fas fa-user-lock"   style="color: white;     padding-left: 26px;     font-size: 19px;
            "     ></i>         </a>
            <a class="dropdown-item mb-2   "  [routerLink]="['user_signup']" routerLinkActive="active" id="list2"  >SIGN UP    <i class="fas fa-user-check"  style="color: white;   padding-left: 26px;     font-size: 19px;
            "   ></i>         </a>
    
        </div>
    </li>
    <!-- dropdown menu -->


<!-- ------------------------------------------------------------------------------------------------------ -->

    <!-- admin  -->
    <!-- -------------------------------------------------------------------------------------------------------------------- -->


    <li  class="nav-item dropdown ml-4">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"     >
         
        <i class="fas fa-user-tie"   style="border: 0px;color: white;"  ></i>

      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown"  style="background-color: black;   " >
         
          <a class="dropdown-item mb-2" [routerLink]="['/adminSignin']" routerLinkActive="active" id="list1"    >SIGN IN    <i class="fas fa-user-lock"   style="color: white;     padding-left: 26px;     font-size: 19px;
          "     ></i>         </a>
          <a class="dropdown-item mb-2   "  [routerLink]="['/adminSignup']" routerLinkActive="active" id="list2"  >SIGN UP    <i class="fas fa-user-check"  style="color: white;   padding-left: 26px;     font-size: 19px;
          "   ></i>         </a>
  
      </div>
  </li>
  <!-- dropdown menu -->


<!-- ------------------------------------------------------------------------------------------------------ -->



    


  </ul>


     
    <form class="form-inline my-2 my-lg-0">

      <div class="homebtn 55"  id="righyextr"   *ngIf="signin_service.isLoggedIn()" >

        <button type="button1" class="btn"  id="rightoption22" (click)="showadvertisementpage(true)"   [routerLink]="['/pharmacyMainDashboard']"  routerLinkActive="active"    style="border: 0px; font-size:23px;"   >
          <i class="fas fa-house-user"  id="cart_i"   style="border: 0px;color: white;font-size: 25px;margin: 0px 8px;">  
          
            
          </i>
            
          </button>




      </div>
      <!-- homebutton  -->


      <!-- cart buttton  -->

      <div  class="55 " id="righyextr"  *ngIf="signin_service.isLoggedIn() && (medicine_service.cartMedicines_id_array.length ) "        style="margin-right:12px; " >
        
       
        <button type="button1" class="btn"  id="rightoption22"    [routerLink]="['/cart']"  routerLinkActive="active"    style="border: 0px; font-size:22px;"   >
        <i class="fas fa-shopping-cart"  id="cart_i"   style="border: 0px;color: white;">  
        
          <span id="cart_items_no">     {{medicine_service.cartMedicines_id_array.length }}    </span>  
          
        </i>
          
        </button>

      </div>

      <!-- --------------------------------------------------------------------------------------------- -->



      <div class="btn-group dropleft" id="righyextr"  *ngIf="signin_service.isLoggedIn() "   >
              <button type="button" class="btn  dropdown-toggle"  id="rightoption"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"    style="border: 0px;"   >
                <i class="fas fa-user-circle"  style="color: white;"  ></i>
                
              </button>


            


            <div class="dropdown-menu dropright2" style="background-color: black;border: 2px solid red;">
              <!-- Dropdown menu links -->
              
              <a class="dropdown-item mb-3"  id="listdown1" *ngIf="signin_service.isLoggedIn() "  [routerLink]="['/userProfile']"  routerLinkActive="active"  >  <i class="fas fa-user-circle"   style="color: white; padding-left: 24px;  padding-right: 8px;    font-size: 19px;" ></i>  PROFILE </a>

              <a class="dropdown-item mb-3"  id="listdown1" *ngIf="signin_service.isLoggedIn() "  [routerLink]="['/face']"  routerLinkActive="active"  >  <i class="far fa-smile"   style="color: white; padding-left: 24px;  padding-right: 8px;    font-size: 19px;" ></i>  REGISTER FACE </a>


              <a class="dropdown-item mb-3 " id="listdown2"  *ngIf="signin_service.isLoggedIn()" (click)="logoutNow()"  >  <i class="fas fa-sign-out-alt" style="color: white;   padding-left: 24px;  padding-right: 8px;  font-size: 19px;"   ></i>     LOGOUT    </a>
              <!-- <a class="dropdown-item" href="#">Another action</a> -->



            </div>
      </div>

      
    <!-- dropdown menu -->
      
   

    </form>


  </div>
  <!-- div before ul -->

  <!-- </div> -->
</nav>

