
.show_med_here{

    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
   
    flex-wrap: wrap;
}

._2rW0m{
    margin: 10px 0px;
    font-size: 15px;


}

.foot{
    width: 340px;
}


.footer{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
   
    flex-wrap: wrap;
}



/* -------------------------------------------------------------------------- */

.show_med {
    display: flex;
    border-radius: 5px;
    padding: 12px 27px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #dfe3e6;
    margin-bottom: 24px;

}    

.med_priceandcart{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    /* border: 1px solid pink; */


}
.med_image:hover {
/* border: 2px solid black; */
cursor: pointer;
}

.med_image img{
border: 1px solid #dfe3e6;
height: 77px;
width: 73px;
margin-right: 21px;


}

.name p{
font-size: 19px;
color: #565b5b;
font-weight: 700;
margin-bottom: 5px;
font-family: 'Source Sans Pro', sans-serif;
/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */



}



.med_quantity{
font-family: 'Source Sans Pro', sans-serif;
/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */

}

.med_price p{
font-family: 'Source Sans Pro', sans-serif;
/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */

font-weight: bold;
font-size: 19px;
margin-bottom: 0px;
}





.med_cart button{
font-family: 'Source Sans Pro', sans-serif;
/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */

/* font-weight: bold;
font-size: 14px; */
background: #10847E;
/* padding: 7px; */
border-radius: 7px;

}

.med_cart button p{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    padding: 3px 0px;
    font-weight: bold;
    font-size: 15px;
    background: #10847E;
    margin: 0px;    
    
    }


.med_cart button p:hover{
font-size: 16px;
background: #1d857f;
}




.discount{

    background-image: url("https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg");
    height: 25px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    padding-left:4px;
    text-align: initial;
    width: 98px;
    font-size: 10px;
    margin-left: 13px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 20px;


    }


/* ------------------------------------------------------------------------------- */

.searchbox_container{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    flex-wrap: wrap;
                    padding-top: 12px;
                    border-radius: 5px;
                    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                    background-color: rgb(16, 132, 126);
                    color: white;


            }

.advertisement div img{
    padding-bottom: 3px;
}

.advertisement{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    font-size: 15px;
                    /* font-weight: 600; */
                    flex-wrap: wrap;
                    margin-bottom: 32px;
                    /* border: 1px solid green; */
                    width: 100%;

                }

.search_head{
    font-size: 22px;
    /* font-weight: bold; */
    margin-bottom: 14px;
}


.search_box{
    width: 90%;
    font-size: 18px;

}

