<div class="container" >
    <div class="card" style="border:0px">
        <div class="card-body">
          
            <div class="searchbox_container">

                <div class="advertisement">

                    <div class="l"> <img src="https://assets.pharmeasy.in/web-assets/dist/8bfde66a.svg" alt="">      Flat 15% Off</div>
                    <div class="l">   <img src="https://assets.pharmeasy.in/web-assets/dist/adb9b646.svg" alt="">   2 Lakh+ Products</div>
                    <div class="l">  <img src="https://assets.pharmeasy.in/web-assets/dist/9279f530.svg" alt="">   Easy Returns</div>

                </div>
                <!-- advertisement  -->

                <div class="search_head">
                    Search for Fitness Products

                </div>
                <!-- seach head  -->

                <div class="search_box"  >

                    <div class="input-group mb-4">
                        <select class="custom-select" id="inputGroupSelect02"      >
                          <option selected value="default" >   Search for Fitness Products   </option>
                          <option value=ele.name     *ngFor="let ele of medicine_array"  >    {{ele.name | uppercase}}   </option>
                         
                        </select>
                        <div class="input-group-append"    >
                          <label class="input-group-text" for="inputGroupSelect02"   style=" color: white; background-color: rgb(16, 132, 126); font-size: 18px;"  ><i class="fa fa-search" ></i></label>
                        </div>
                      </div>

                </div>
                <!-- search_box -->

            </div>
            <!-- searchbox  -->
            

        </div>
      </div>
      <!-- card  -->



        <!-- ---------------------------------------------------------------------------------------------------------- -->

    <div class="show_med_here mt-5 mb-5 mr-3">



       
       <div class="card mt-3 " style="border: 0px"   *ngFor="let ele of medicine_array"   >

        <div class="card-body"  style="padding: 0px;" >



            <div class="alert alert-success m-0 alert-dismissible fade show" role="alert"  *ngIf="!status && message && (med_selected_inview_id === ele['_id'])"   style=" margin: 0px; "  >
                <strong  style="font-family: 'Source Sans Pro', sans-serif; "  > {{message}} </strong>
                <br>
                <strong  *ngIf="ele['controlled'] && !!cartMedicines_id_array.includes(ele['_id']) "  style="font-family: 'Source Sans Pro', sans-serif; "> Once ordered, you can refill only after uploading next valid prescription.</strong>
                
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
    
              <div class="alert alert-danger m-0 alert-dismissible fade show" role="alert"  *ngIf="status && message &&  (med_selected_inview_id === ele['_id'])    "   style=" margin: 0px;   "  >
                <strong   style="font-family: 'Source Sans Pro', sans-serif; " > {{message}} </strong>
                
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
    
    
    
          
    <!-- -------------------------------------------------------------------------------------------------------------------- -->
    







         
            <div class="show_med">

                <div class="med_image">
                    
                    <img src = {{ele.imageUrl}} alt="" (click)="showMedicineDetails(ele)" >


                </div>
                <!-- medimage ends  -->

                <div class="med_details" style=" text-align: justify; width: 27rem;">

                    <div class="name" >
                       
                        <p>{{ele.name}} </p>


                    </div>
                    <!-- name ends  -->

                   

                    <div class="med_quantity"  >
                         <p >
                             Quantity : <b>  {{ele.quantity}}     </b>
                         </p>

                        

                    </div>
                    <!-- quantity ends  -->


                    <div class="med_priceandcart">

                        <div class="med_price"  style="line-height: 15px; ">
                            <p>
                                MRP &nbsp; ₹{{ele.amount}}

                                <span class="discount ">
                                {{ele.discount}}
                                </span>

                            </p>

                            <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                           

                            
                        </div>

                        <div class="med_cart">

                            <button type="button" class="btn btn-secondary" #btn  (click)="addToCart(ele)">
                                
                                <p  *ngIf="!cartMedicines_id_array.includes(ele['_id'])"  >     Add to Cart   </p>
                                <p  *ngIf="cartMedicines_id_array.includes(ele['_id'])"   >     Added    </p>
                            </button>

                            
                        </div>
                        <!-- cart button  -->


                    </div>
                    <!-- med price and cart ends  -->
                </div>
                <!-- med details  -->
            </div>
            <!-- show_med ends  -->
        </div>
      </div>
      <!-- card ends --------------------------------------------------------- -->

      


    </div>
    <!-- show med here ebnds  -->

<!-- ---------------------------------------------------------------------------------------- -->

    <hr>

      <div class="footer">

      <div class="card "  style="border: 0px;"  >
        <div class="card-body foot">
                <div class="_1SCXq">
                    <img src="https://assets.pharmeasy.in/web-assets/dist/9ac2da37.svg" alt="1 Lakh+ Products" class="_2caSr">
                </div>
                <div class="_2rW0m">
                    <strong>1 Lakh+ Products</strong>
                </div>
                <div class="_1Feuj">
                    We maintain strict quality controls on all our partner retailers, so that you always get standard quality products.
                </div>
        </div>
    </div>

    <!-- --------- -->


   
    <!-- ------------------------------- -->
    <div class="card " style="border: 0px;"   >
        <div class="card-body foot">
            <div class="_1SCXq">
                <img src="https://assets.pharmeasy.in/web-assets/dist/2f258fe0.svg" alt="Secure Payment" class="_2caSr">
             </div>

                <div class="_2rW0m">
                    <strong>Secure Payment</strong>
                </div>
                <div class="_1Feuj">
                    100% secure and trusted payment protection

                </div>
        </div>
    </div>

    <!-- ----------------------------------- -->
    <div class="card " style="border: 0px;"   >
        <div class="card-body foot">
            <div class="_1SCXq">
                <img src="https://assets.pharmeasy.in/web-assets/dist/256fe591.svg" alt="Easy Return" class="_2caSr">
            </div>
            <div class="_2rW0m">
                <strong>Easy Return</strong>
            </div>
            <div class="_1Feuj">
                We have a new and dynamic return window policy for medicines and healthcare items. Refer <a href="/help/returns-43000349468">FAQs</a> section for more details.
            </div>
        </div>
    </div>
    <!-- ------------------------------------- -->


      </div>
      <!-- fotter ends  -->






</div>
<!-- container  -->