

     <div class="ui  dimmer " id="load"  [class.active]="loader">
      <div class="ui massive text loader">Registering Face </div>
    </div>



     <div class="alert alert-danger m-0 alert-dismissible fade show" role="alert"  *ngIf="face_notdetected"   style="padding: 15px; margin: 0px;"  >
        <strong>Opps !</strong> &nbsp;{{face_notdetected}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


    <!-- ---------------------------------------------------------------------- -->

    <div class="alert alert-success m-0 alert-dismissible fade show" role="alert"  *ngIf="face_detected"   style="padding: 15px; margin: 0px;"  >
        <strong>Congratulations !</strong> &nbsp;{{face_detected}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



    <!-- ---------------------------------------------------------------------------------------- -->

<div class="container "   >

    <div class="webcamm "  style="display: flex; flex-direction: column;"   >
      <webcam   class="web"      [height]="544" [width]="544"     [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
  
      <div class="buttons">
      <button class="actionBtn btn btn-default"    *ngIf="webcamImage"  (click)="triggerSnapshot();">Try Again </button>
  
      </div>
  
    </div>
  
  
              <div class="snapshot" *ngIf="webcamImage">
                
  
                <div class="capturedimage"  style="display: flex; flex-direction: column;" >
                  <img [src]="webcamImage.imageAsDataUrl"/>
                
                </div>
  
  
                <div class="buttons "  style="margin-top: 14px;"  >
                  <button class="actionBtn btn btn-default" (click)="onSubmit()">Submit</button>
                </div>
  
  
              </div>
              
              
  </div>
  
  <!-- conatainer -->
  
  <div class="buttons"  style="">
  
    <button class="actionBtn btn btn-default"  *ngIf="!webcamImage" (click)="triggerSnapshot();">Click</button>
  <!-- Snapshot Div where image will be shown -->
  
 
  
  </div>
  