.container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 42px;
  

}


.actionBtn{
    
        /* font-weight:600; */
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 16px;
        text-align: center;
        color: white;
        background-color:#0e103a;
}



.web{
    /* border: 5px solid black; */
    margin: 10px;
    padding: 0;
}

.buttons{


    display: flex;
    justify-content: center; 

}
img{
    width: 544px;
    height: 410px;
    margin-top: 10px;
}