<div class="alert alert-danger alert-dismissible fade show" role="alert"  *ngIf="invalidity"  style="margin: 0px;padding: 15px;" >
    <strong>Opps !!</strong>&nbsp; You should check in on some of those form fields .
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>