.heading{
  
    justify-content: center; 
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   color: #0e103a;
   font-weight: 500;
   font-size: 35px;
   padding: 205px;

}


.down{
  
    justify-content: center; 
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   color: #0e103a;
   font-weight: 500;
   font-size: 35px;
   padding: 0px;
   
}
form{
    /* padding: 130px; */
}

#register_button{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    
    text-align: center;
    color: white;
    background-color:#0e103a;
}

.container{
    /* border: 10px solid green; */
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
}