

<div class="container">
    <h1 class="heading  " style="text-align: center;"   *ngIf="visiblity"   >Please do not refresh this page...</h1>
    

   
     <form  ngNoForm  method="post" action="https://securegw-stage.paytm.in/theia/api/v1/showPaymentPage?mid={{hiddeninput['mid']}}&orderId={{hiddeninput['orderId']}}" name="paytm"   style="text-align: center;"    >

        <input name="mid" value="{{hiddeninput['mid']}}" type="hidden"  />
        <input name="orderId" value="{{hiddeninput['orderId']}}" type="hidden"  />
        <input name="txnToken" value="{{hiddeninput['txnToken']}}"   type="hidden"  />
            
        <p class="down " *ngIf="!visiblity" style="padding-top: 160px;"  >
            Do you really want to make payement?  
            <!-- <button type="submit"    class="btn btn-default"  id="register_button"  *ngIf="!visiblity"  >click here </button>   -->
        </p>
        <button type="submit"    class="btn btn-default mt-3"  id="register_button"  *ngIf="!visiblity"  >CONTINUE </button>
        <button type="submit"   class="btn btn-default mt-3 ml-4"  id="register_button" [routerLink]="['/cart']"  [routerLinkActive]="true"  *ngIf="!visiblity"  >  GO BACK </button>

        <div style="padding-bottom: 160px;"  *ngIf="!visiblity"   >
            
        </div>


    </form>

    



 </div>