<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">REQUIRED !!</h1>
    </header>
    <section id="modal-body">
        <p>Password must be atleast 8 characters.</p>
        <p>Passsword must contain atleast 1 uppercase, 1 lowercase, 1 digit & 1 special character.</p>
    </section>
    <footer id="modal-footer">
        <!-- <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button> -->
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer>
</div>