.header1 {
    font-size: 44px;
    font-weight: 600;
  }
  .base-margins {
    margin: 8px;
    line-height: normal;
  }
  .header2 {
    font-size: 26px;
    font-weight: 500;
  }
  .header3 {
    font-size: 20px;
  }
  .base-text {
    font-size: 14px;
  }
  .section-container {
    width: auto;
    display: block;
    padding: 24px 0px;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  .base-container {
    display: flex;
    align-items: center;
    min-height: 650px;
    margin: 0px auto;
  }
  .bold-text {
    font-weight: 600;
  }
  @media(min-width:768px) {
    .header1 {
      font-size: 50px;
    }
    .base-margins {
      margin: 12px;
      line-height: normal;
    }
    .header2 {
      font-size: 27px;
    }
    .header3 {
      font-size: 20px;
    }
    .base-text {
      font-size: 16px;
    }
    .section-container {
      padding: 40px 0px;
    }
    .base-container {
      max-width: 720px;
    }
  }
  @media(min-width:992px) {
    .base-container {
      max-width: 960px;
    }
  }
  @media(min-width:1200px) {
    .base-container {
      max-width: 1140px;
    }
  }
  .home-banner-left-container {
    color: white;
    z-index: 1;
    margin: 20px;
    max-width: 500px;
  }
  .home-banner-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    height: 100%;
    position: absolute;
  }
  .home-banner-button {
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid;
    outline: none;
    background: none;
    color: white;
    cursor: pointer;
  }
  .home-banner-button:hover {
    border: 1px solid white;
    color: black;
    background-color: white;
  }
  .home-banner-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: blur(3px) grayscale(20%);
  }
  .alternate-colour {
    background-color: rgb(83, 202, 202); /* 58b3da */
    width: 100%;
  }
  .services-parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .services-header {
    color: white;
    max-width: 600px;
    margin: 20px;
  }
  .services-offered-container {
    display: flex;
    color: white;
    text-transform: uppercase;
    margin: 20px 0px;
  }
  .services-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .services-button {
    outline: none;
    background: none;
    color: white;
    border: 1px solid white;
    padding: 12px 0px;
    width: 90px;
    cursor: pointer;
  }
  .services-button:hover {
    background-color: white;
    color: rgb(83, 202, 202);
  }
  .icon-style {
    margin: 12px;
  }
  .total-care-parent-container {
    flex-direction: row;
  }
  .total-care-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    margin: 20px;
  }
  .total-care-description-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    flex: 0.45;
    margin: 20px;
  }
  .healthcare-image {
    width: 80%;
    object-fit: cover;
  }
  .alternate-button-colour {
    color: rgb(57, 184, 184);
    border: 1px solid rgb(57, 184, 184);
  }
  .alternate-button-colour:hover {
    color: white;
    background-color: rgb(57, 184, 184);
  }
  .patients-review-container {
    flex-direction: column;
  }
  .patient-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  .patient-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.4;
    margin: 20px;
  }
  .patient-image {
    width: 100%;
    object-fit: cover;
  }
  .patient-text {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    margin: 10px;
  }
  
  .timetable-container {
    display: grid;
    flex: 0.7;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    margin: 20px;
  }
  .timetable-description-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    flex: 0.4;
    padding: 40px 20px;
    background-color: rgb(83, 202, 202);
  }
  @media(max-width:1023px) {
    .timetable-container {
      grid-template-columns: repeat(2,auto);
    }
  }
  @media(max-width:767px) {
    .patient-container {
      flex-direction: column;
    }
    .total-care-parent-container {
      flex-direction: column;
    }
    .services-offered-container {
      flex-direction: column;
    }
    .timetable-parent-container {
      flex-direction: column;
    }
  }
  @media(max-width:519px) {
    .timetable-container {
      grid-template-rows: repeat(1,auto);
      grid-template-columns: none;
      flex: 1;
    }
  }