<section class="section-container" >
    <div class="base-container">
      <div class="home-banner-left-container">
        <h2 class="header2 base-margins" >Your Health Is Our Priority</h2>
        <h1 class="header1 base-margins">MEDICAL CARE</h1>
        <p class="base-text base-margins">We will help you to feel better and enjoy every single day of your life.</p>
        <button class="base-text base-margins home-banner-button" [routerLink]="['/about']" routerLinkActive="active"  >
          <span class="base-text base-margins"  >Read More</span>
        </button>
      </div>
      <div class="home-banner-image-container">
        <img src="../../assets/doctor-holding-hands.jpg" class="home-banner-image" />
      </div>
    </div>
  </section>
  <section class="section-container" >
    <div class="base-container total-care-parent-container">
      <div class="total-care-image-container" >
        <img src="../../assets/healthcare.jpg" class="healthcare-image" />
      </div>
      <div class="total-care-description-container" >
        <h2 class="header2 base-margins" >We Provide</h2>
        <h1 class="header1 base-margins">Total Health Care</h1>
        <p class="base-text base-margins">We provide the most full medical services, so every person could have the opportunity to receive qualitative medical help.</p>
        <p class="base-text base-margins">Clinical excellence, diversity, and access to innovative technology are all hallmarks of the graduate medical education experience at Caring Doc. Our residents, fellows, and renowned staff share their experience working at Caring Doc.</p>
        <p class="base-text base-margins bold-text" >We try to do our best to help you and provide with a high-quality services.</p>
        <button class="base-text base-margins home-banner-button alternate-button-colour" >
          <span class="base-text base-margins" >Read More</span>
        </button>
      </div>
    </div>
  </section>
  <section class="section-container " >
    <div class="base-container timetable-parent-container ">
      <div class="timetable-container" >
        <div>
          <span class="base-text base-margins icon-style" >
            <i class="fas fa-user-md fa-3x" ></i>
          </span>
          <h3 class="base-margins header3">Consultation</h3>
          <p class="base-text base-margins">By Our Certified Professionals</p>
        </div>
        <div>
          <span class="base-text base-margins icon-style" >
            <i class="fa fa-clipboard fa-3x"></i>
          </span>
          <h3 class="base-margins header3">Diagnosis</h3>
          <p class="base-text base-margins">For accurate results</p>
        </div>
        <div>
          <span class="base-text base-margins icon-style" >
            <i class="fa fa-medkit fa-3x"></i>
          </span>
          <h3 class="base-margins header3">Treatment</h3>
          <p class="base-text base-margins">Individual approach to our patients for their benefit</p>
        </div>
        <div>
          <span class="base-text base-margins icon-style" >
            <i class="fas fa-hospital fa-3x" ></i>
          </span>
          <h3 class="base-margins header3">Hospital</h3>
          <p class="base-text base-margins">We provide the best care for our patients</p>
        </div>
        <div>
          <span class="base-text base-margins icon-style" >
            <i class="fas fa-child fa-3x" ></i>
          </span>
          <h3 class="base-margins header3">Pediatric</h3>
          <p class="base-text base-margins">We provide a high quality care for your kids</p>
        </div>
        <div>
          <span class="base-text base-margins icon-style" >
            <i class="fa fa-heartbeat fa-3x"></i>
          </span>
          <h3 class="base-margins header3">Online Help</h3>
          <p class="base-text base-margins">We are available 24/7</p>
        </div>
      </div>
      <div class="timetable-description-container" >
        <h2 class="header2 base-margins" >Check Our</h2>
        <h1 class="header1 base-margins">Weekly Timetable</h1>
        <p class="base-text base-margins">You can make an appointment , select the convient time and choose the appropriate doctor here.</p>
        <button class="base-text base-margins home-banner-button" >
          <span class="base-text base-margins" >Read More</span>
        </button>
      </div>
    </div>
  </section>
  <section class="section-container alternate-colour" >
    <div class="base-container services-parent-container">
      <div class="services-header">
        <h1 class="header1 base-margins">Hospital Services</h1>
        <p class="base-text base-margins services-header-text" >Our hospital services are here to support every phase of your life. You will find information on the specific service, as well as which doctors and hospitals provide that service.</p>
      </div>
      <div class="services-offered-container">
        <div class="services-container" >
          <span class="base-text base-margins icon-style" >
            <i class="fas fa-users fa-3x" ></i>
          </span>
          <h3 class="base-margins header3">Department & Services</h3>
          <button class="base-text base-margins services-button" >View All</button>
        </div>
        <div class="services-container">
          <span class="base-text base-margins icon-style" >
            <i class="fa fa-list fa-3x" aria-hidden="true"></i>
          </span>
          <h3 class="base-margins header3">Clinical Staff Directory</h3>
          <button class="base-text base-margins services-button" >View All</button>
        </div>
        <div class="services-container">
          <span class="base-text base-margins icon-style" >
            <i class="fa fa-user-md fa-3x" aria-hidden="true"></i>
          </span>
          <h3 class="base-margins header3">Clinical Value of Procedures</h3>
          <button class="base-text base-margins services-button" >View All</button>
        </div>
      </div>
    </div>
  </section>
  <section class="section-container" >
    <div class="base-container patients-review-container">
      <div class="patient-container">
        <div class="patient-text" >
          <i class="fa fa-quote-right fa-5x" aria-hidden="true"></i>
          <p class="base-text base-margins">Would come back for surgery here anytime! It was a totally awesome experience. Dr. Sebesta was great. Nurses were totally the bomb, couldn't have a better crew. Thank you Dianne, Korie, Becky & Rosa for the awesome care! Thank you Tom....Good anesthesia
          </p>
          <h3 class="base-margins header3">Linda Perry</h3>
        </div>
        <div class="patient-image-container">
          <img class="patient-image" src="../../assets/patient1.jpg" />
        </div>
      </div>
      <div class="patient-container">
        <div class="patient-image-container">
          <img class="patient-image" src="../../assets/patient2.jpg" />
        </div>
        <div class="patient-text" >
          <i class="fa fa-quote-right fa-5x" aria-hidden="true"></i>
          <p class="base-text base-margins">I would like to let you know how pleased I am with the outcome of my procedure.  The result was excellent and makes the future much better for me.  My treatment was second to none and all the staff were efficient, polite and caring.</p>
          <h3 class="base-margins header3">Whitney Hudson</h3>
        </div>
      </div>
    </div>
  </section>