.acc{
    display: flex;
     justify-content: center; 
     font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #0e103a;
    font-size: 16px;
     
}


#top{
    background: #0e103a;
    color: white;

}

.form-group button {
    /* font-weight:600; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    
    text-align: center;
    color: white;
    background-color:#0e103a;
}
label {
    /* font-weight:600; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15.5px;
    margin-top: 0.5px;
    /* margin-bottom: 0.4px; */
    font-weight: 540;
}
input,
select {
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;
}
input {
    height: 30px;
}

#top,#right{
    margin: 5px 10%
}

#top p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */

    font-weight: bold;
}

#right {
    padding-bottom: 5px;

    /* border-right: 5px solid green;
    border-top: 5px solid green; */
    
    border: 0px;

padding-bottom: 66px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#top i:hover {
    font-size: 28px;
    cursor: pointer;
}

.userpic i:hover {
    font-size: 65px;
    cursor: pointer;
}

#top p:hover {
    font-size: 28px;
    cursor: pointer;
}
.form-group button:hover {
    
    font-size: 18px;
    cursor: pointer;
    
}
small {
    /* margin-left: 100px; */
}
#top[_ngcontent-ucu-c102], #right[_ngcontent-ucu-c102] {
    margin: 5px 27%;
}