
<div class="ui  dimmer " id="load"  [class.active]="loader"  style="width: 100%"  >
  <div class="ui massive text loader">Registering Admin Details ...</div>
</div>


<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->


<app-alert-warning    [invalidity]="invalidity" >   </app-alert-warning>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<!-- Success message -->

<div class="alert alert-success m-0 alert-dismissible fade show" role="alert"  *ngIf="showSucessMessage"   style="padding: 15px; margin: 0px;"  >
  <strong>Congratulations {{usermodel.full_name}} !</strong> &nbsp;You have successfully submitted your application.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<!-- Error message -->

<div class="alert alert-danger m-0 alert-dismissible fade show" role="alert"  *ngIf="serverErrorMessages"   style="padding: 15px; margin: 0px;"  >
  <strong>Opps !!</strong> &nbsp; {{serverErrorMessages}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



  

  <!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="container" style="max-width: 92%;">

    <div class="card" style="border: 0px;"  >
    
        <div class="card-body" id="top"   style=" text-align: center;font-size:25px; margin: 5px 27%;padding-bottom: 2px;">
            
            <i class="fas fa-user-shield"></i>
          <p style="font: 23px;">SIGN UP</p>
        </div>
    </div>
    <!-- signin close  -->
  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->

        <div class="card" id="right" style="margin: 5px 27%;">
            <form #userform="ngForm"  class="card-body">

                <!-- {{userform.value | json}}
                {{usermodel | json}} -->

                <div class="contact-form">

                    <div class="userpic"  style="display: flex; justify-content: center;font-size:59px;margin-top: -20px; color: #0e103a; ">
                        <i class="fas fa-user-circle"></i>
                    </div>

                    <!-- ------------------------------------------------------------------------------------ -->
                        
                    <div class="form-group">
                        <label class="control-label col-sm-10" for="fullname">FULL NAME</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="fullname" #fname="ngModel"  pattern="^[a-zA-Z]+\D*"  [class.is-invalid]="(fname.invalid && fname.touched) "     [(ngModel)]="usermodel.full_name" required  name="fullname">
                 
                           <div  *ngIf="(fname.touched && fname.invalid) " >
                            <small class="text-danger" *ngIf="fname.errors.required">Name is required **</small>
                            <small class="text-danger" *ngIf="fname.errors.pattern">Invalid name **</small>
                 
                          </div>
                 
                 
                        </div>
                 
                        
                      </div>




                    <!-- ------------------------------------------------------------------------------------------------- -->

                    <div class="form-group">
                        <label class="control-label col-sm-10" for="email">EMAIL</label>
                        <div class="col-sm-12">
                          <input type="email" class="form-control" id="email" #email="ngModel"   [class.is-invalid]="email.invalid && email.touched"     [(ngModel)]="usermodel.email" required email   name="email">
                 
                          <div *ngIf="email.touched && email.invalid"    >
                            <small class="text-danger"  *ngIf="email.errors.required" >Email is required **</small>
                            <small class="text-danger" *ngIf="email.errors.email"  >Wrong email id !!</small>
                           </div>
                        </div>
                    </div>
                 

                    <!-- -----------------------------------------------------email close---------------------------------- -->

                    <div class="form-group">
                        <label  class="control-label col-sm-10 "    for="password">PASSWORD</label>
                        <div class="col-sm-12">
                          <input type="password" class="form-control" id="password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"   #password="ngModel" [class.is-invalid]="password.invalid && password.touched"   [(ngModel)]="usermodel.password"  required minlength="8"  name="password"  >
                 
                          <div *ngIf="password.touched && password.invalid"   >
                            <small class="text-danger" *ngIf="password.errors.required" >Password is required **</small>
                            <small class="text-danger " *ngIf="password.errors.minlength" >Passsword must be aleast 8 characters.</small>
                            <small class="text-danger" *ngIf="password.errors.pattern &&  !(password.errors.minlength) " >Passsword must contain atleast at least 1 uppercase, 1 lowercase, 1 digit & 1 special character.</small>
                 
                           </div>
                        </div>
                      </div>
                        <!-- ------------------------------------------------------password close------------------------------ -->

                          <!-- ------------------------------------------------------------------------------------------------------ -->
 
      <div class="form-group">
        <label  class="control-label col-sm-10 "    for="confirmPassword">CONFIRM PASSWORD</label>
        <div class="col-sm-12">
          <input type="password" class="form-control" id="confirmPassword"   ngValidateEqual="password"    #confirmPassword="ngModel"   [(ngModel)]="usermodel.confirmPassword"    [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"    required   name="confirmPassword"  >
          
         
          <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid"   >
            <small class="text-danger" *ngIf="confirmPassword.errors.required" >Password is required **</small>
            <small class="text-danger" *ngIf="confirmPassword.hasError('notEqual') && !confirmPassword.errors.required " >Password does not match **</small>
            
 
            
           </div>
 
        </div>
 
        
 
      </div>
 
 
 
      <!-- ------------------------------------------------------------------------------------- -->
 






                        <div class="form-group"     style="display: flex; justify-content: center; "  >
                            <div class="col-sm-offset-2 col-sm-10 mt-4" style="display: flex; justify-content: center; ">
                              <button type="submit" class="btn btn-default"  id="register_button"   (click)="form_validation()"    > REGISTER</button>
                            </div>
                        </div>
                        <!-- ------------------------------------------------------------------------------------ -->

                        <!-- <div class="acc"     >
                            <p>
                                Don't have an account?
                                <a  [routerLink]="['/user_signup']" routerLinkActive="active"  > Click Here </a>
                                

                            </p>
                        </div> -->


                        <div class="card" style="border: 0px; margin: 0px; padding: 0px;"  >
                            <div class="card-body acc">
                                Don't have an account? &nbsp;
                                <a  [routerLink]="['/adminSignin']" routerLinkActive="active"  > Click Here </a>
                            </div>
                          </div>


                </div>
                <!-- contact form close  -->

               

            </form>
        </div>
        <!-- right close  -->



</div>
<!-- conatainer close  -->