<div class="row" style="margin-top: 20px;z-index:1">
  <div class="card col p-3 m-3" id="box1">

    <div class="ui statistic">
      <div class="label" style="font-size: 1.5em;">
        CONFIRMED
      </div>
      <div class="value" style="margin-top: 25px; font-size:3.4rem!important  "   >
        {{tot_confirmed}}
      </div>
    </div>

  </div>

  <div class="card col p-3 m-3">

    <div class="ui statistic">
      <div class="label"  style="font-size: 1.5em;color: midnightblue;"  >
        RECOVERED
      </div>
      <div class="value" style="margin-top: 25px; font-size:3.4rem!important;color: midnightblue;  "   >
        {{tot_recovered}}
      </div>
    </div>

  </div>


  <div class="card col p-3 m-3"  *ngIf="tot_active != 0" >

    <div class="ui statistic">
      <div class="label"    style="font-size: 1.5em; color: rgb(14, 167, 14);"  >
        ACTIVE
      </div>
      <div class="value" style="margin-top: 25px; font-size:3.4rem!important ; color: rgb(14, 167, 14); "   >
        {{tot_active}}
      </div>
    </div>

  </div>



  <div class="card col p-3 m-3">

    <div class="ui statistic">
      <div class="label"   style="font-size: 1.5em;color: red;"  >
        DEATHS
      </div>
      <div class="value" style="margin-top: 25px; font-size:3.4rem!important; color: red;  "   >
        {{tot_deaths}}
      </div>
    </div>

  </div>



</div>
