<div class="outer row">

   
   <div class="col-sm-2">


        <div class="wrapper">
        
            <div class="sidebar ">
                    
                        <div class="welcome">

                            <a   [routerLink]="['/userProfile']"  routerLinkActive="active"  style="color: white;"  >
                                <p class="name"     >  <i class="fa fa-user-circle-o mb-2"  style="font-size: 73px;" ></i>  <br>  {{userName | uppercase}} </p>
                                 <hr style="background-color: aliceblue;">
                            </a>

                        </div>

                        <ul>

                            <li><a  (click)="Onselected_category('displayadvertisement')"   >DASHBOARD</a></li>



                                <div class="dropdown">
                                    
                                    <button class="dropbtn drop_btn" >CATEGORY &nbsp; <i class="fa fa-caret-square-o-down"   ></i>      </button>

                                   
                                    <div class="dropdown-content">
                                        <a   class="drop_list"     (click)="Onselected_category('orderFitness')"  > FITNESS</a>
                                        <a   class="drop_list"  (click)="Onselected_category('orderPersonalcare')"    > PERSONAL CARE</a>
                                        <a  class="drop_list"   (click)="Onselected_category('orderSexualwellness')"    > SEXUAL WELLNESS</a>
                                        <a   class="drop_list"  (click)="Onselected_category('orderMomandbaby')"    >MOM AND BABY</a>
                                        <a   class="drop_list"  (click)="Onselected_category('orderCovidessentials')"    >COVID ESSENTIALS</a>
                                        <a  class="drop_list"   (click)="Onselected_category('orderDevices')"    > DEVICES</a>
                                        <!-- <a  class="drop_list"   (click)="Onselected_category('orderMedicines')"    > MEICINES</a> -->

                                    </div>
                                </div>
                                
                                <li><a  [routerLink]="['/myActivity']"  routerLinkActive="active" >MY ACTIVITY</a></li>
                                <li><a [routerLink]="['/face']"  routerLinkActive="active"  >REGISTER FACE</a></li>
                                <li><a [routerLink]="['/cart']"  routerLinkActive="active"  >CART</a></li>

                                <li><a    [routerLink]="['/userProfile']"  routerLinkActive="active"  >USER PROFILE</a></li>
                                <li><a   [routerLink]="['/contact']"  >CONTACT US </a></li>
                                <li><a    (click)="logoutNow()"   >LOGOUT</a></li>
                        </ul>
            </div>
            <!-- sidebar  -->

        </div>
    <!-- wrapper -->

    
    
    
    </div>
    <!-- colsm2  -->
    


<!-- --------------------------------------------------------------------------------------------------------------------------------------- -->


<div  class="middle_content col-sm-10 mt-4 "   >

    
        <app-dashboard-display      *ngIf="category_selected ==='displayadvertisement'" ></app-dashboard-display>

        <!-- <app-order-medicines  *ngIf="category_selected ==='orderMedicines'"  ></app-order-medicines> -->

        <app-order-fitness   *ngIf="category_selected ==='orderFitness'"    ></app-order-fitness>
        
        <app-order-personalcare   *ngIf="category_selected ==='orderPersonalcare'"  ></app-order-personalcare>

        <app-order-momandbaby    *ngIf="category_selected ==='orderMomandbaby'"   ></app-order-momandbaby>

        <app-order-sexualwellness    *ngIf="category_selected ==='orderSexualwellness'"   ></app-order-sexualwellness>

        <app-order-devices   *ngIf="category_selected ==='orderDevices'"   ></app-order-devices>

        <app-order-covidessentials   *ngIf="category_selected ==='orderCovidessentials'"   ></app-order-covidessentials>



    
</div>
<!-- middle content  -->

<!-- ---------------------------------------------- -->

</div>
<!-- outer row  -->
