/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align:center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  body{
     background-color: #f3f5f9;
  }
   */
  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #0b0b0c;
    /* padding: 1px 0px; */
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar h4{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #faf9fc;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #faf9fc;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover {
    cursor:pointer;
    transform: scale(1.1);
    background: rgb(51, 50, 50);
    
  }

  .btn1:hover{
    cursor:pointer;
    transform: scale(1.1);
    background: rgb(51, 50, 50);
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }

  .dropbtn {
    background-color: #070707;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #070707;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(14, 13, 13);
    cursor:pointer;
    transform: scale(1.1);
  }
  
  .dropdown:hover .dropdown-content {display: block;
    }
  .dropdown:hover .dropbtn {
      background-color: #070707;
    cursor:pointer;
    transform: scale(1.1);}
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  ul{
      list-style: none;
      font-size: 14.5px;
      font-weight: 500;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    padding: 0px;
    margin: 0px;
    text-align:left;
    margin-left: 10px;

  }

  .drop_btn{
      border: 0px ;
      font-size: 14.5px;
      font-weight: 500;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    margin-bottom: 4px;

  }

  .drop_btn:hover{
    
    width: 200px;
    /* background-color: aqua; */


  }

  .drop_list{
    cursor:pointer;
    transform: scale(1.1);
    background: rgb(51, 50, 50);
    font-size: 14px;
  }

  a{
      text-decoration: none;
  }

  .welcome{
      color: white;
      /* border: 1px solid yellow; */
      padding: 0px;
      margin: 0px;
      text-align: center;
      margin-bottom: 15px;

  }
  .welcome p{
      margin: 0px;
  }
  .wel p i{
      font-size: 50px;
  }
 

  .name{
    font-size: 20px;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* border-bottom: 1px solid white; */
    padding-bottom: 4px;
   
  }

  ul li{
      margin-bottom: 4px;
  }

  