



#register_button2{
    border-radius: 15px;
    padding: 17px 15px;
}


.actionButtons1{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    padding: 0px 351px;



}

.actionButtons1 button{

    margin: 10px 0px;   
     padding: 11px 0px;
    font-size: 19px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
.actionButtons1 button:hover{
    /* box-shadow: 3px 3px 20px 2px gray; */
    font-size: 20.5px;


}







.nopendingrecordfound{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 215px 0px;
}
.nopendingrecordfound p{

    font-size: 32px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    font-weight: 600;
    color: #565b5b;

}

.remarks{
    margin-bottom: 20px;
    margin-top: 19px;
    padding: 0px 354px;
}

.remarks label {
    font-size: 12px;
}

.actionButtons{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 351px;



}

.actionButtons button{

    margin: 10px 0px;    padding: 11px 0px;
    font-size: 19px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
.actionButtons button:hover{
    box-shadow: 3px 3px 20px 2px gray;
    font-size: 20.5px;


}




.date {
    text-align: center;
    /* margin: 23px 0px; */
    margin-top: 22px;
    margin-bottom: 32px;
   

}


.date span {
    background: #ac5b35;
    color: white;
    font-size: 20px;

    font-weight: 600;
    padding: 10px 12px;
    /* border-radius: 11px; */
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px 34px;
}



.tot_amount{

    /* border: 2px solid #565b5b; */
    padding-bottom: 31px;
    padding-left: 68%;
    color: #565b5b;
    
    
    font-family: 'Source Sans Pro', sans-serif;
    
    }
    
    #register_button{
        width: 100%;
        border-radius: 20px;
        padding: 17px 0px;
        
    }
    
    
    
    .amt_mentioned{
    
        
        font-size: 23px;
        font-weight: 600;
    
    
    }
    
    .amt_head{
        font-size: 22px;
        font-weight: 500;
        margin-right: 56px;
    }
    
    .med_cart_add_subs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* border: 1px solid black;
        border-radius: 3px; */
        text-align: center;
        justify-items:center;
        align-items: center;
        width: 107px;
        padding: 5px 0px;
        justify-content: space-around;
        font-size: 21px; 
        margin-left: 0%;






       
    }
    
    
    .med_cart_add_subs span {
        text-align: center;
        border: 0.5px solid black;
        padding: 1px 10px;
        font-size: 16px;
        /* margin-top: 8px; */
    
    
    } 
    
    .med_cart_add_subs i:hover{
        cursor: pointer;
        font-size: 21.4px;
    }
    
    .med_cart_tot_price{
        margin-right: 34px;
        font-size: 17px;
    }
    
    
    
    
    .show_med_here{
    
        display: flex;
        
        flex-direction: column;
        justify-content: space-between;
       
        flex-wrap: wrap;
    }
    
    ._2rW0m{
        margin: 10px 0px;
        font-size: 15px;
    
    
    }
    
    .foot{
        width: 340px;
    }
    
    
    .footer{
        display: flex;
        
        flex-direction: row;
        justify-content: space-between;
       
        flex-wrap: wrap;
    }
    
    
    
    /* -------------------------------------------------------------------------- */
    
    .med_details{
        text-align: justify;
         width: 27rem;
         margin-right: -20%;
         /* width: auto;
         margin-left: -28%; */
    }
    
    
    .imgAndDetails{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    
    }
    
    
    .show_med {
        display: flex;
        border-radius: 5px;
        padding: 12px 27px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid #dfe3e6;
        margin: 0px 80px;
        margin-bottom: 24px;
    
    }    
    
    .med_priceandcart{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        flex-wrap: wrap;
        /* border: 1px solid pink; */
    
    
    }
    .med_image:hover {
    /* border: 2px solid black; */
    cursor: pointer;
    }
    
    .med_image img{
    border: 1px solid #dfe3e6;
    height: 77px;
    width: 73px;
    margin-right: 21px;
    
    
    }
    
    .name p{
    font-size: 19px;
    color: #565b5b;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    
    
    
    }
    
    
    
    .med_quantity{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    
    }
    
    .med_price p{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 0px;
    }
    
    
    
    
    
    .med_cart button{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    
    font-weight: bold;
    font-size: 14px;
    background: #cc0808;
    padding: 7px;
    border-radius: 7px;
    margin-left: -36%;
    
    
    }
    
    
    .med_cart button:hover{
    font-size: 15px;
    background: #db0808;
    }
    
    
    
    
    .discount{
    
        background-image: url("https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg");
        height: 25px;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    
        padding-left:4px;
        text-align: initial;
        width: 98px;
        font-size: 10px;
        margin-left: 13px;
        padding-top: 5px;
        padding-bottom: 3px;
        padding-right: 20px;
    
    
        }
    
    
    /* ------------------------------------------------------------------------------- */
    
    .searchbox_container{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
    
                        flex-wrap: wrap;
                        padding-top: 12px;
                        border-radius: 5px;
                        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                        background-color: rgb(16, 132, 126);
                        color: white;
    
    
                }
    
    .advertisement div img{
        padding-bottom: 3px;
    }
    
    .advertisement{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        font-size: 15px;
                        /* font-weight: 600; */
                        flex-wrap: wrap;
                        margin-bottom: 32px;
                        /* border: 1px solid green; */
                        width: 100%;
    
                    }
    
    .search_head{
        font-size: 22px;
        /* font-weight: bold; */
        margin-bottom: 14px;
    }
    
    
    .search_box{
        width: 90%;
        font-size: 18px;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* ----------------------------------------------------------------------------------------- */
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .acc{
        display: flex;
         justify-content: center; 
         font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        color: #0e103a;
        font-size: 16px;
         
    }
    
    
    #top{
        background: #0e103a;
        color: white;
    
    }
    
    .form-group button {
        /* font-weight:600; */
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 16px;
        
        text-align: center;
        color: white;
        background-color:#0e103a;
    }
    label {
        /* font-weight:600; */
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 15.5px;
        margin-top: 0.5px;
        /* margin-bottom: 0.4px; */
        font-weight: 540;
    }
    input,
    select {
        /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
        font-family: Arial, Helvetica, sans-serif;
    
        font-size: 14px;
    }
    input {
        height: 30px;
    }
    
    #top,#right{
        margin: 5px 10%
    }
    
    #top p {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        /* font-family: Arial, Helvetica, sans-serif; */
    
        font-weight: bold;
    }
    
    #right {
        padding-bottom: 5px;
    
        /* border-right: 5px solid green;
        border-top: 5px solid green; */
        
        border: 0px;
    
    padding-bottom: 66px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
    
    #top i:hover {
        font-size: 28px;
        cursor: pointer;
    }
    
    .userpic i:hover {
        font-size: 65px;
        cursor: pointer;
    }
    
    #top p:hover {
        font-size: 28px;
        cursor: pointer;
    }
    .form-group button:hover {
        
        font-size: 18px;
        cursor: pointer;
        
    }
    small {
        /* margin-left: 100px; */
    }
    #top[_ngcontent-ucu-c102], #right[_ngcontent-ucu-c102] {
        margin: 5px 27%;
    }

    #register_button2 a{
        color: white;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
    }
    #register_button2:hover{
        font-size: 22px;
    box-shadow: 5px 5px 25px 2px gray;


    }
    #register_button2 a:hover{
        font-size: 19.5px;
    }

    button a i:hover{
        font-size: 22px;

    }
