<div class="ui  dimmer " id="load"  [class.active]="loader">
  <div class="ui massive text loader"> Please wait for a moment... </div>
</div>


  <!-- ------------------------------------------------------------------------------------- -->

  <div class="form-group"     style="display: flex; justify-content: center; "  >
    <div class="col-sm-offset-2 col-sm-12 mt-4" style="display: flex; justify-content:flex-end; ">
      <button type="submit" class="btn btn-default"  id="register_button2" [routerLink]="['/adminViewUserProfile']" routerLinkActive="active" >
        <a  > 
          <i class="fas fa-eye"></i> 
           User Profiles  
          
          </a>

      </button>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------ -->





<div class="show_med_here mt-3 mb-5 mr-3 ml-3">

      <div class="nopendingrecordfound"    *ngIf="(pendingOrderDetails_arrayOfObjects ==0)" else pendingRecordFound  >

        <p>No Pending Record Found !</p>

    </div>  

      


    <div class="card mt-4 pl-3 pr-3 mb-5"   #pendingRecordFound  style="border:1.2px solid #b9bdc0; border-radius: 15px; margin: 0px 25px; margin-bottom: 15px;   "   *ngFor="let outer_ele of pendingOrderDetails_arrayOfObjects"   >
     <div class="card-body"  style="padding: 0px;"     >
  
  
        <div class="date">

                <span>Name : &nbsp;  {{(outer_ele.name)}}    </span>
                <span>Email : &nbsp;  {{(outer_ele.email)}}    </span>


                <span>Ordered On : &nbsp;  {{(outer_ele.prev_order_details[0].order_date)}}    </span>
           
            

        </div>
     <!-- date -->
      
         <div class="show_med"     *ngFor="let ele of outer_ele.prev_order_details[0].total_medicine_details"   >
  
  
  
          <div class="imgAndDetails">
  
            <div class="med_image">
                 
              <img src = {{ele.medicine_details.imageUrl}} alt="" >
  
  
             </div>
          <!-- medimage ends  -->
  
          <div class="med_details" style=" text-align: justify; width: 27rem;">
  
                 <div class="name" >
                 
                  <p>{{ele.medicine_details.name}} </p>
  
  
                </div>
              <!-- name ends  -->
  
             
  
                 <div class="med_quantity"  >


                   <p >
                       Quantity : <b>  {{ele.medicine_details.quantity}}     </b>
                   </p>
  
                  
  
                 </div>
              <!-- quantity ends  -->
  
  
                <div class="med_priceandcart">
  
                    <div class="med_price"  style="line-height: 15px; ">
                      <p>
                          MRP &nbsp; ₹{{ele.medicine_details.amount}}
  
                          <span class="discount ">
                          {{ele.medicine_details.discount}}
                          </span>
  
                      </p>
  
                      <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                     
  
                      
                    </div>
  
                
  
  
                </div>
              <!-- med price and cart ends  -->
          </div>
          <!-- med details  -->
  
  
          </div>
          <!-- image and details  -->
  
   
  
           
  
            <div class="med_cart_add_subs">
  
             

                <i class="fas fa-minus-square"   (click)="subQuantity(outer_ele._id , ele._id , ele.quantity_added)"   ></i>
            
                <span> {{ele.quantity_added}} </span>
    
                <i class="fas fa-plus-square" (click)="addQuantity(outer_ele._id , ele._id)"   ></i>
    
    
              
  
  
  
            </div>
            <!-- cart addsub button  -->
  
            <div class="med_cart_tot_price">
  
              ₹{{ele.total_amount}} 
              
  
            </div>
            <!-- cart button  -->
  
  
            
  
         </div>
         <!-- show_med ends  -->


         <div class="prescription mt-5"     style="display: flex;align-items: center; flex-direction: column; font-size: 23px; font-family: 'Source Sans Pro', sans-serif;"   >

            <!-- <p>Prescription</p> -->

            <img  class="mb-4"    src= {{(outer_ele.prescriptionUrl)}}  alt=""      style="border: 1px solid grey;width: 50%; height: 476px;">



          </div>



          <!-- ----------------------------------------------------------------------------------- -->


          <!-- <div class="input-group"   >
            <span class="input-group-text">Enter validity duration of prescription (in days)</span>
            <input type="text"  class="form-control"  id="validity" [(ngModel)]="validity"   >
            
          </div>
         {{validity}} -->

        <div class="actionButtons1 mb-2">
          <button type="button" class="btn btn-secondary"  style="background-color: navy; width: 53%;"  (click)="validityFun(outer_ele)"   > Enter the validity duration of prescription </button>

         
        </div>



        <div class="actionButtons1 mb-3"   *ngIf=" validity_selected &&  (orderid_selected_validity === outer_ele._id)">

          <input type="text"  class="form-control"  style="width: 9%;text-align: center;" [(ngModel)]="validity_days"   > days
          <!-- {{validity_days}} -->

        </div>



          <!-- -------------------------------------------------------------------------- -->


          <div class="actionButtons">

            <button type="button" class="btn btn-secondary" id="approved" style="background-color: green;"  (click)="approveOrder(outer_ele)"   >APPROVE ORDER</button>
            <button type="button" class="btn btn-secondary" id="cancelled" style="background-color: #dd0f0f;" (click)="formVisiblity(outer_ele)">CANCEL ORDER</button>


          </div>
        <!-- action buttons  -->

        <div class="form-floating remarks"  *ngIf="is_order_cancelled && (order_selected == outer_ele)"  >


          <div class="alert alert-danger alert-dismissible fade show" role="alert"  *ngIf="warning"  style="margin: 0px;padding: 15px;" >
           
            <strong> Mention the reason for cancelling this order !!  </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        
          </div>



          <!-- <label for="floatingTextarea2">(Mention the valid reason for cancelling this order)</label> -->

          <textarea class="form-control" placeholder="Mention the valid reason for cancelling this order." id="floatingTextarea2" [(ngModel)]="remarks"    style="height: 100px"></textarea>

        </div>
        <!-- remarks -->

         


          <div class="actionButtons"   *ngIf="is_order_cancelled   && (order_selected == outer_ele)  "   >

            <button type="button" class="btn btn-secondary" id="cancelled" style="background-color: #09156a; margin: 10px 157px; " (click)="cancelOrder(outer_ele )">SUBMIT AND PROCEED </button>


          </div>
        <!-- action buttons  -->







     </div>
   </div>
   <!-- card ends --------------------------------------------------------- -->
  
   
  
  
  </div>
  <!-- show med here ebnds  -->
  
  <!-- ---------------------------------------------------------------------------------------- -->
  