 

        .content1 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            
            font-family: 'Roboto', sans-serif;
            font-family: 'Source Sans Pro', sans-serif;

            color:#0e103a;
            font-size: 19px;
            text-align: center;


        }

        button {
            /* font-weight:600; */
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-size: 16px;
            font-weight: bolder;
            /* margin-top: 15px; */
            text-align: center;
            color: white;
   
}
        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            /* font-family: 'Roboto', sans-serif;
            font-family: 'Source Sans Pro', sans-serif; */

           
            height:fit-content;
           

        }
        .middle_content{
          /* border: 1px solid green; */
           


        }

        .bar{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            background-color: #a291fa;
            height: 100px;
            border-radius: 6px;
            margin-right: 8px;

            /* justify-content: center; */
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            align-items: center;

        }


        .photo1 img{
            height: 120px;
            margin-bottom: 10px;
        }

        .cont1{

            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-size: 16px;
            
            text-align: center;
            color: white;

        }
        .kit{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 60px;
            

        }
        .ph1 img {
            height: 120px;
           
        }

        .ph img{
            /* height: 111px; */
            height: 120px;
           width: 151px;
        }


        .outeritem{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */

            /* font-family: var(--bs-font-sans-serif); */

            
            /* border: 1px solid black; */
            

        }

        .featuredbrand{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }


        .featuredbrand div img{
          height: 186px;
          width: 137px;
          border: 1px solid rgb(85, 223, 211);
          
        }


        .discount{

          background-image: url("https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg");
          height: 25px;
          width: 89px;
          font-size: 16px;


        }

        .topcategorycontent{
          display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

        }

        .topcat img{

          height: 321px;
          width: 285px;


        }
        .dealsoftheday{
          /* background-color: rgb(189, 52, 75); */
          padding-left: 13px;
    padding-top: 18px;

        }

        .dealsofthedaycontent {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
           
            height:fit-content;
           

        }

        .outerdeals{
          /* border: 1px solid black ; */
          background: rgb(255 225 230);
          height: 280px;
          border-radius: 15px;
        }


        .healtharticlescontent{

          display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        
        }
        .advertisement{
          display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .bottombar{

          display: flex;
          margin: 0px 10px;

            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            background: #F2F5F5;
          border-radius: 20px;

        }
      

        .barcontent3{
          display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .bottombarcontent{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end;
        }
        
        .quesans{
            margin: 0px 6px;

        }

        .qZ2uj{


        font-size: 15px;
        font-weight: 500;
        color: #444c52;

        }
        
        ._1htyN{


          font-size: 11px;
          color: black;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


      ._18iAu{

            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

            margin-bottom: 27px;
              font-size: 34px;
              color: #3d3d4d;
              
      }
