<div id="carouselExampleIndicators" class="carousel slide mr-2" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://d314ueg0lpx3nd.cloudfront.net/banner/3cc44886147-1520CBdweb.jpg"
          alt="First slide">
      </div>



      <div class="carousel-item">
        <img class="d-block w-100" src="https://d314ueg0lpx3nd.cloudfront.net/banner/6a5ad2482bd-dcookiesdweb.jpg"
          alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://d314ueg0lpx3nd.cloudfront.net/banner/5641d9ac959-PRODUCTSOTC.jpg"
          alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- ----------------------------------------------------crousel end -------------------------- -->





  <div class="content1 mt-4">

    <div class="card" style="width:14.5rem; border: 0px; ">
      <div class="card-body" style=" text-align: center;">
        <h5 class="card-title">

          <div class="discount mb-1" style="color: white; font-weight: 500; padding-left:4px;    text-align: initial;
                  ">
            18% Off
          </div>

          <img class="card-img-top" style=" background-color: lightblue; border-radius:100px ;"
            src="https://assets.pharmeasy.in/web-assets/dist/7c645a8d.png" alt="Card image cap">

        </h5>

        <p class="card-text"> Order Medicines </p>

        <button type="button" class="btn btn-secondary"
          style=" padding:0px; background-color: #3bb896; border: 0px solid white; "> <a href="#" class="nav-link"
            style="color: white;font-size: 15px;  "> ORDER NOW </a>
        </button>




      </div>
    </div>


    <div class="card" style="width: 15rem;   border: 0px;    ">
      <div class="card-body" style=" text-align: center;">
        <h5 class="card-title">

          <div class="discount mb-1" style="color: white; font-weight: 500; padding-left:4px;     text-align: initial;
                  ">
            12% Off
          </div>

          <img class="card-img-top" style=" background-color: #fdfdc4;   border-radius: 100px; "
            src="https://assets.pharmeasy.in/web-assets/dist/c7c7095b.png" alt="Card image cap">

        </h5>
        <p class="card-text"> Healthcare Products </p>

        <button type="button" class="btn btn-secondary"
          style="padding:0px; background-color: #fc8019;  border: 0px solid white;"> <a class="nav-link" href="#"
            style="color: white;  font-size: 15px;  "> ORDER NOW </a> </button>


      </div>
    </div>


    <div class="card" style="width: 14.5rem;  border: 0px; ">
      <div class="card-body" style=" text-align: center;">
        <h5 class="card-title">
          <div class="discount mb-1 " style="     text-align: initial;
                  
                color: white; font-weight: 500; padding-left:4px ;">
            15% Off
          </div>

          <img class="card-img-top" style=" background-color: lightblue; border-radius: 100px;"
            src="https://assets.pharmeasy.in/web-assets/dist/e1d3ac1c.png" alt="Card image cap">


        </h5>
        <p class="card-text"> Lab Tests </p>


        <button type="button" class="btn btn-secondary"
          style="padding:0px;  background-color: #00b9e1;  border: 0px solid white; "> <a class="nav-link" href="#"
            style="color: white; font-size: 15px;  "> ORDER NOW </a> </button>
      </div>
    </div>













  </div>

  <!-- add close ---------------------------------------------------- -->






  <div class="bar mt-5">

    <div class="cont" style="margin-bottom: 22px;">

      <strong style="color: white; font-size: 18px;">
        Save flat 5% extra on medicines &amp; enjoy FREE delivery with PLUS membership
      </strong>

    </div>

    <div class="photo1">

      <img src="https://assets.pharmeasy.in/web-assets/dist/b20b0932.png" alt="">

    </div>

  </div>

  <!-- ---------------------------------------------------------------------------------------------------------------- -->


  <div class="kit mb-4">

    <div class="ph1" style="height: 111px;">

      <img src="https://assets.pharmeasy.in/web-assets/dist/0ad2d80a.png" alt="">

    </div>

    <div class="ph">

      <img src="https://assets.pharmeasy.in/web-assets/dist/6e630ccf.png" alt="">

    </div>

    <div class="ph">

      <img src="https://assets.pharmeasy.in/web-assets/dist/c9bd8df2.png" alt="">

    </div>

    <div class="ph">

      <img src="https://assets.pharmeasy.in/web-assets/dist/748e0da8.png" alt="">

    </div>

    <div class="ph">

      <img src="https://assets.pharmeasy.in/web-assets/dist/aada0d0d.png" alt="">

    </div>




  </div>


  <!-- --------------------------------------------------------------------------------------------------- -->


  <div class="offer mt-5">

    <img src="https://assets.pharmeasy.in/web-assets/dist/67890676.svg" alt="">
    <span style="  color: rgb(78, 78, 78); font-size: 24px; font-weight: 500;   "> &nbsp; Offers For You</span>

  </div>


  <!-- ------------------------------------------------------------------------------------------------------------------------------ -->

  <div class="outeritem mt-4">



    <div class="card" style="width: 15rem;">
      <img style="height: 100px; width: 100px;  margin-left:20px ; " class="card-img-top"
        src="https://assets.pharmeasy.in/web-assets/dist/909edb3f.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-muted" style="font-size: 16px;">ADVANCED COVID ANTIBODY TEST</h5>
        <p class="card-text text-muted" style="font-size: 13px;">Certified at 2 certified labs</p>
        <hr>

        <div class="bottom" style="display: flex; flex-direction: row; justify-content: space-between;">

          <div>
            <p class="text-muted" style="font-size: 14px;"> <b>Rs.650</b> <span class="ml-1"
                style="  font-size: 12px; text-decoration:line-through;">1199</span> </p>
          </div>

          <div>
            <p style="color: rgb(11, 126, 141); font-size: 14px;  "> <b>Book Now ></b> </p>

          </div>


        </div>
      </div>
    </div>



    <div class="card" style="width: 15rem;">
      <img style="height: 100px; width: 100px;  margin-left:20px ; " class="card-img-top"
        src="https://assets.pharmeasy.in/web-assets/dist/51ffd21a.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-muted" style="font-size: 16px;"> ESSENTIAL VITAMIN PACKAGE </h5>
        <p class="card-text text-muted" style="font-size: 13px;">By Lab For All (include 2 tests)</p>
        <hr>

        <div class="bottom" style="display: flex; flex-direction: row; justify-content: space-between;">

          <div>
            <p class="text-muted" style="font-size: 14px;"> <b>Rs.999</b> <span class="ml-1"
                style="  font-size: 12px; text-decoration:line-through;">1999</span> </p>
          </div>

          <div>
            <p style="color: rgb(11, 126, 141); font-size: 14px;  "> <b>Book Now ></b> </p>

          </div>


        </div>
      </div>
    </div>


    <div class="card" style="width: 15rem;">
      <img style="height: 100px; width: 100px;  margin-left:20px ; " class="card-img-top"
        src="https://assets.pharmeasy.in/web-assets/dist/51ffd21a.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-muted" style="font-size: 16px;">AROGYAM 1.2 PACKAGE</h5>
        <p class="card-text text-muted" style="font-size: 13px;">By Thyrocare Technologies LTD (Includes 55 tests)
        </p>
        <hr>

        <div class="bottom" style="display: flex; flex-direction: row; justify-content: space-between;">

          <div>
            <p class="text-muted" style="font-size: 14px;"> <b>Rs.569</b> <span class="ml-1"
                style="  font-size: 12px; text-decoration:line-through;">1399</span> </p>
          </div>

          <div>
            <p style="color: rgb(11, 126, 141); font-size: 14px;  "> <b>Book Now ></b> </p>

          </div>


        </div>
      </div>
    </div>


    <div class="card" style="width: 15rem;">
      <img style="height: 100px; width: 100px;  margin-left:20px ; " class="card-img-top"
        src="https://assets.pharmeasy.in/web-assets/dist/909edb3f.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-muted" style="font-size: 16px;">ADVANCED HEALTH CHECKUP</h5>
        <p class="card-text text-muted" style="font-size: 13px;"> by Lab For All (include 42 tests)</p>
        <hr>

        <div class="bottom" style="display: flex; flex-direction: row; justify-content: space-between;">

          <div>
            <p class="text-muted" style="font-size: 14px;"> <b>Rs.650</b> <span class="ml-1"
                style="  font-size: 12px; text-decoration:line-through;">2105</span> </p>
          </div>

          <div>
            <p style="color: rgb(11, 126, 141); font-size: 14px;  "> <b>Book Now ></b> </p>

          </div>


        </div>
      </div>
    </div>





  </div>
  <!-- outer item -------------------------------------------------------------------------------------------- -->



  <div class="" style="margin-top: 44px;">


    <span style="  color: rgb(78, 78, 78); font-size: 24px; font-weight: 500;   "> Featured Brands </span>

  </div>


  <div class="featuredbrand mt-4">

    <div class="fb">
      <img src="https://d314ueg0lpx3nd.cloudfront.net/carousel_item/ab8cf914b23-Featured-Covid.jpg" alt="">
    </div>




    <div class="fb">
      <img style="border: 1px solid rgb(254 201 238);"
        src="https://d314ueg0lpx3nd.cloudfront.net/carousel_item/d2988ac646f-Web_featured-brand_Dettol.png" alt="">
    </div>

    <div class="fb">
      <img src="https://d314ueg0lpx3nd.cloudfront.net/carousel_item/7fdd90400a1-Featured-banner-Hansaplast-web.png"
        alt="">
    </div>


    <div class="fb">
      <img style="border: 1px solid rgb(254 201 238);"
        src="https://d314ueg0lpx3nd.cloudfront.net/carousel_item/487644e2f83-Nivea_web.jpg" alt="">
    </div>


    <div class="fb">
      <img src=" https://d314ueg0lpx3nd.cloudfront.net/carousel_item/7c19dbe3433-Web_featured-brand_colgate.png  "
        alt="">
    </div>





    <div class="fb">
      <img style="border: 1px solid rgb(254 201 238);"
        src="https://d314ueg0lpx3nd.cloudfront.net/carousel_item/2d987111a15-Featured-banner_Revital.png" alt="">
    </div>



  </div>





  <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->


  <div class="healthcareproducts " style="margin-top: 44px;">

    <span style="  color: rgb(78, 78, 78); font-size: 24px; font-weight: 500;   "> Popular Healthcare Products
    </span>

  </div>

  <div class="content ">

    <div class="card mt-4 mb-5" style="width: 13rem; height: fit-content;">
      <div class="discount mb-3" style="color: white; font-weight: 500; padding-left:4px ;">
        15% Off
      </div>

      <img style="height: 110px;width: 10rem; " class="card-img-top"
        src="https://cdn01.pharmeasy.in/dam/products_otc/P95184/khadi-essentials-basics-pure-safe-instant-hand-sanitizer-330ml-1.jpg"
        alt="Card image cap">
      <div class="card-body" style="text-align: center;">

        <p style="margin: 0px;">
          <b> Safe Hand Sanitizer Bottle Of 330 ML </b>
        </p>

        <p class="card-text text-muted" style="border-bottom: 1px solid grey;margin: 0px;padding-bottom: 5px;">
          330ml Liquid in Bottle </p>

        <p style="margin: 0px;margin-top: 2px;">
          MRP ₹<span class="ml-1" style="  font-size: 15px; text-decoration:line-through;">169</span>
        </p>

        <p class="text-muted" style="margin: 0px;"> <b>₹140.50</b> </p>

      </div>
    </div>

    <!-- -------------------------------one card end------------------------------ -->


    <div class="card mt-4 mb-5" style="width: 13rem; height: fit-content;">
      <div class="discount mb-3" style="color: white; font-weight: 500; padding-left:4px ;">
        25% Off
      </div>

      <div style="text-align: center;">
        <img style="height: 110px; width: 6rem; " class="card-img-top"
          src="https://cdn01.pharmeasy.in/dam/products_otc/E85132/liveasy-wellness-vitamin-c-990mg-with-zinc-10mg-powerful-immunity-booster-60-veg-tablets-2-1605157039.jpg"
          alt="Card image cap">

      </div>


      <div class="card-body" style="text-align: center;">

        <p style="margin: 0px;">
          <b> Liveasy Essentials Copper Bottle </b>
        </p>

        <p class="card-text text-muted" style="border-bottom: 1px solid grey;margin: 0px;padding-bottom: 5px;">
          1 Bottle(s) in Bottle
        </p>

        <p style="margin: 0px;margin-top: 2px;">
          MRP ₹<span class="ml-1" style="  font-size: 15px; text-decoration:line-through;">1119</span>
        </p>

        <p class="text-muted" style="margin: 0px;"> <b>₹791.34</b> </p>

      </div>
    </div>

    <!-- -------------------------------one card end------------------------------ -->


    <div class="card mt-4 mb-5" style="width: 13rem; height: fit-content;  ">
      <div class="discount mb-3" style="color: white; font-weight: 500; padding-left:4px ;">
        17% Off
      </div>

      <div style="text-align: center;">

        <img style="height: 110px; width: 8rem;" class="card-img-top"
          src="https://cdn01.pharmeasy.in/dam/products_otc/C46315/liveasy-essentials-instant-fruit-and-vegetable-wash-edible-ingredients-removes-bacteria-chemicals-500-ml-2-1597405723.jpg"
          alt="Card image cap">

      </div>



      <div class="card-body" style="text-align: center;">

        <p style="margin: 0px;">
          <b> Fruit And Veg Wash - Edible Ingredients </b>
        </p>

        <p class="card-text text-muted" style="border-bottom: 1px solid grey;margin: 0px;padding-bottom: 5px;">
          550ml Liquid in Bottle </p>

        <p style="margin: 0px;margin-top: 2px;">
          MRP ₹<span class="ml-1" style="  font-size: 15px; text-decoration:line-through;">149</span>
        </p>

        <p class="text-muted" style="margin: 0px;"> <b>₹125.80</b> </p>

      </div>
    </div>

    <!-- -------------------------------one card end------------------------------ -->


    <div class="card mt-4 mb-5" style="width: 13rem; height: fit-content; ">
      <div class="discount mb-3" style="color: white; font-weight: 500; padding-left:4px ;">
        19% Off
      </div>

      <div style="text-align: center;">
        <img style="height: 110px;width: 2.5rem; " class="card-img-top"
          src="https://cdn01.pharmeasy.in/dam/products_otc/O26428/savlon-surface-disinfectant-spray-170-ml-1.jpg"
          alt="Card image cap">

      </div>


      <div class="card-body" style="text-align: center;">

        <p style="margin: 0px;">
          <b> Surface Disinfectant Spray 170 ML </b>
        </p>

        <p class="card-text text-muted" style="border-bottom: 1px solid grey;margin: 0px;padding-bottom: 5px;">
          170ml Spray in Bottle </p>

        <p style="margin: 0px;margin-top: 2px;">
          MRP ₹<span class="ml-1" style="  font-size: 15px; text-decoration:line-through;">155</span>
        </p>

        <p class="text-muted" style="margin: 0px;"> <b>₹144.50</b> </p>

      </div>
    </div>

    <!-- -------------------------------one card end------------------------------ -->



  </div>
  <!-- content of popular healthcare  -->




  <div class="topcategories " style="margin-top:0px;">

    <span style="  color: rgb(78, 78, 78); font-size: 24px; font-weight: 500;   "> Top Categories </span>

  </div>

  <div class="topcategorycontent" style="margin-top:25px;">

    <div class="topcat"> <img
        src="https://d314ueg0lpx3nd.cloudfront.net/homepage_top_categories_images/0a554991d99-devices-dweb.jpg"
        alt=""> </div>

    <div class="topcat"> <img
        src="https://d314ueg0lpx3nd.cloudfront.net/homepage_top_categories_images/1c530e7adeb-Nutrition-dweb.jpg"
        alt=""> </div>

    <div class="topcat"> <img
        src="https://d314ueg0lpx3nd.cloudfront.net/homepage_top_categories_images/e171023a61a-homecare-dweb.jpg"
        alt=""> </div>




  </div>
  <!-- top categories content--------------------------------------------------------------------- -->



  <div class="outerdeals">



    <div class="dealsoftheday " style="margin-top: 44px;">
      <img src="https://assets.pharmeasy.in/web-assets/dist/cc9b301d.svg" alt="">

      <span style="  color: rgb(56, 55, 55); font-size: 24px; font-weight: 500;margin-left: 20px;"> Deals Of The Day
      </span>

    </div>

    <div class="dealsofthedaycontent ">

      <div class="card mt-4 mb-5" style="width: 13rem; height: fit-content;">
        <div class="discount mb-3" style="color: white; font-weight: 500; padding-left:4px ;">
          15% Off
        </div>

        <img style="height: 110px;width: 10rem;" class="card-img-top"
          src="https://cdn01.pharmeasy.in/dam/products_otc/Y53636/liveasy-essentials-pill-box-2-1605847788.jpg"
          alt="Card image cap">
        <div class="card-body" style="text-align: center;">

          <p style="margin: 0px;">
            <b> Liveasy Essentials Pill Box </b>
          </p>

          <p class="card-text text-muted" style="border-bottom: 1px solid grey;margin: 0px;padding-bottom: 5px;">
            Strip of 10 Tablets </p>

          <p style="margin: 0px;margin-top: 2px;">
            MRP ₹<span class="ml-1" style="  font-size: 15px; text-decoration:line-through;">399</span>
          </p>

          <p class="text-muted" style="margin: 0px;"> <b>199.50</b> </p>

        </div>
      </div>

      <!-- -------------------------------one card end------------------------------ -->


      <div class="card mt-4 mb-5" style="width: 13rem; height: fit-content;">
        <div class="discount mb-3" style="color: white; font-weight: 500; padding-left:4px ;">
          25% Off
        </div>

        <div style="text-align: center; ">
          <img style="height: 110px; width: 6rem; " class="card-img-top"
            src="https://cdn01.pharmeasy.in/dam/products_otc/G17799/sanfe-reusable-menstrual-cup-with-no-rashes-leakage-or-odor-premium-design-for-women-large-pack-of-2-2-1607697205.jpg"
            alt="Card image cap">

        </div>


        <div class="card-body" style="text-align: center;">

          <p style="margin: 0px;">
            <b> Sanfe Reusable Menstrual Cup </b>
          </p>

          <p class="card-text text-muted" style="border-bottom: 1px solid grey;margin: 0px;padding-bottom: 5px;">
            1 Cup(s) in Box
          </p>

          <p style="margin: 0px;margin-top: 2px;">
            MRP ₹<span class="ml-1" style="  font-size: 15px; text-decoration:line-through;">998</span>
          </p>

          <p class="text-muted" style="margin: 0px;"> <b>419.34</b> </p>

        </div>
      </div>

      <!-- -------------------------------one card end------------------------------ -->


      <div class="card mt-4 mb-5" style="width: 13rem; height: fit-content;  ">
        <div class="discount mb-3" style="color: white; font-weight: 500; padding-left:4px ;">
          17% Off
        </div>

        <div style="text-align: center;">

          <img style="height: 110px; width: 8rem;" class="card-img-top"
            src="https://cdn01.pharmeasy.in/dam/products_otc/H84790/accu-chek-instant-glucometer-with-bluetooth-technology-and-mysugr-diabetes-management-app-10-free-strips-2-1598446844.jpg"
            alt="Card image cap">

        </div>



        <div class="card-body" style="text-align: center;">

          <p style="margin: 0px;">
            <b> Accu-chek Instant Glucometer </b>
          </p>

          <p class="card-text text-muted" style="border-bottom: 1px solid grey;margin: 0px;padding-bottom: 5px;">
            Bluetooth technology </p>

          <p style="margin: 0px;margin-top: 2px;">
            MRP ₹<span class="ml-1" style="  font-size: 15px; text-decoration:line-through;">145</span>
          </p>

          <p class="text-muted" style="margin: 0px;"> <b>1316.80</b> </p>

        </div>
      </div>

      <!-- -------------------------------one card end------------------------------ -->


      <div class="card mt-4 mb-5" style="width: 13rem; height: fit-content; ">
        <div class="discount mb-3" style="color: white; font-weight: 500; padding-left:4px ;">
          19% Off
        </div>

        <div style="text-align: center;">
          <img style="height: 110px;width: 2.5rem; " class="card-img-top"
            src="https://cdn01.pharmeasy.in/dam/products_otc/I10590/kapiva-karela-jamun-juice-1-l-1.jpg"
            alt="Card image cap">

        </div>


        <div class="card-body" style="text-align: center;">

          <p style="margin: 0px;">
            <b> Kapiva Karela Jamun Health Bottle Of 1 L </b>
          </p>

          <p class="card-text text-muted" style="border-bottom: 1px solid grey;margin: 0px;padding-bottom: 5px;">
            170ml Spray in Bottle </p>

          <p style="margin: 0px;margin-top: 2px;">
            MRP ₹<span class="ml-1" style="  font-size: 15px; text-decoration:line-through;">456</span>
          </p>

          <p class="text-muted" style="margin: 0px;"> <b>398.50</b> </p>

        </div>
      </div>

      <!-- -------------------------------one card end------------------------------ -->



    </div>
    <!-- content of deals of the day   -->






  </div>
  <!-- outerdeal----------------------------------------------------------------------------------------------------------- -->



  <div class="healtharticles " style="margin-top: 179px;">

    <span style="  color: rgb(78, 78, 78); font-size: 24px; font-weight: 500;margin-left: 20px;"> Health Articles
    </span>

  </div>

  <div class="healtharticlescontent mt-4 mb-3">

    <div class="card" style="width: 340px; height: fit-content; ">
      <img style="height: 200px; width: 340px; " class="card-img-top"
        src="https://blog-images.pharmeasy.in/2020/12/24152147/Blog-image-24-dec.jpg" alt="Card image cap">

      <div class="card-body">

        <h5 class="card-title text-muted" style="font-size: 16px;"> How Dangerous Is The New COVID Strain From The
          UK? </h5>
        <p class="card-text text-muted" style="font-size: 13px;"> By now we have all heard that India and many other
          countries have stopped operating airlines to and from the UK. The travel ban is likely to last until the
          end of December. The culprit behind this new travel restriction is the coronavirus. Recently the UK
          announced the discovery of a new strain of SARS-CoV-2. </p>

        <div>
          <a
            href="https://gulfnews.com/world/what-we-know-so-far-how-dangerous-is-the-new-covid-19-strain-1.1609517912319">
            <p style="color: rgb(11, 126, 141); font-size: 14px;  "> <b> Read More ></b> </p>
          </a>



        </div>

      </div>
    </div>

    <!-- -------------------------------one card ends -------------------------------- -->


    <div class="card" style="width: 340px; height: fit-content;">
      <img style="height: 200px; width: 340px; " class="card-img-top"
        src="https://blog-images.pharmeasy.in/2020/12/23125346/Blog-image-DRL-8.jpg?dim=230x230&dpr=1.25&q=80"
        alt="Card image cap">

      <div class="card-body">

        <h5 class="card-title text-muted" style="font-size: 16px;"> Suffering From Heartburn During Winter? – We
          Might Know The Reason </h5>
        <p class="card-text text-muted" style="font-size: 13px;"> You may not know it, but acidity can peak or
          worsen during the winter season. This could be due to staying home for long, being physically inactive,
          having a sedentary lifestyle and eating oily, spicy and junk foods. The reduced physical activity and
          increased caloric intake result in higher body mass index. All these factors </p>

        <div>
          <a href="https://www.health.qld.gov.au/news-events/news/prevent-treat-winter-burns">
            <p style="color: rgb(11, 126, 141); font-size: 14px;  "> <b> Read More ></b> </p>
          </a>



        </div>

      </div>
    </div>

    <!-- -------------------------------one card ends -------------------------------- -->





    <div class="card" style="width: 340px;  height: fit-content; ">
      <img style="height: 200px; width: 340px; " class="card-img-top"
        src="https://blog-images.pharmeasy.in/2020/12/18132641/Blog-image-18th-dec.jpg" alt="Card image cap">

      <div class="card-body">

        <h5 class="card-title text-muted" style="font-size: 16px;"> Higher Acid Reflux During Winters? Yeah, You
          Heard That Right! </h5>
        <p class="card-text text-muted" style="font-size: 13px;"> To know how cold weather alleviates acid reflux as
          well as some quick and easy measures to cope with it, continue reading. Acidity and heartburn, albeit very
          common, bothers most of us due to its annoying symptoms. Gastroesophageal reflux disease (GERD) or acidity
          occurs when acid from the stomach leaks into the oesophagus. </p>

        <div>
          <a
            href="https://www.ndtv.com/food/keep-acidity-at-bay-this-winters-with-these-easy-home-remedies-1979178?amp=1&akamai-rum=off#aoh=16095942671720&referrer=https%3A%2F%2Fwww.google.com&amp_tf=From%20%251%24s">
            <p style="color: rgb(11, 126, 141); font-size: 14px;  "> <b> Read More ></b> </p>
          </a>



        </div>

      </div>
    </div>

    <!-- -------------------------------one card ends -------------------------------- -->


  </div>
  <!-- healtharticles cintent end --------------------------------------------------------------------------- -->


  <div class="advertisement mt-5">


    <div class="card" style="width: 14rem;  height: fit-content; border: 0px solid white; ">
      <img style="height: 100px; width: 126px; " class="card-img-top"
        src="https://assets.pharmeasy.in/web-assets/dist/4d2f7c48.svg" alt="Card image cap">

      <div class="card-body mt-3">

        <h5 class="card-title text-muted" style="font-size: 36px; font-weight: 700; color: #4F585E;"> 50 Lakh+ </h5>
        <p class="card-text text-muted" style="font-size: 18px; font-weight: 600; color: #4F585E;"> Families served
        </p>



      </div>
    </div>

    <!-- -------------------------------one card ends -------------------------------- -->






    <div class="card" style="width: 16rem;  height: fit-content; border: 0px solid white; ">
      <img style="height: 100px; width: 126px; " class="card-img-top"
        src="https://assets.pharmeasy.in/web-assets/dist/92c372bb.svg" alt="Card image cap">

      <div class="card-body mt-3">

        <h5 class="card-title text-muted" style="font-size: 36px; font-weight: 700; color: #4F585E;"> 1.5 Crore+
        </h5>
        <p class="card-text text-muted" style="font-size: 18px; font-weight: 600; color: #4F585E;"> Orders Delivered
        </p>



      </div>
    </div>

    <!-- -------------------------------one card ends -------------------------------- -->


    <div class="card" style="width: 14rem;  height: fit-content; border: 0px solid white; ">
      <img style="height: 100px; width: 126px; " class="card-img-top"
        src="https://assets.pharmeasy.in/web-assets/dist/f2d557d3.svg" alt="Card image cap">

      <div class="card-body mt-3">

        <h5 class="card-title text-muted" style="font-size: 36px; font-weight: 700; color: #4F585E;"> 22000+ </h5>
        <p class="card-text text-muted" style="font-size: 18px; font-weight: 600; color: #4F585E;"> Pincodes served
        </p>



      </div>
    </div>

    <!-- -------------------------------one card ends -------------------------------- -->


    <div class="card" style="width: 14rem;  height: fit-content; border: 0px solid white; ">
      <img style="height: 100px; width: 126px; " class="card-img-top"
        src="https://assets.pharmeasy.in/web-assets/dist/773ae9c5.svg" alt="Card image cap">

      <div class="card-body mt-3">

        <h5 class="card-title text-muted" style="font-size: 36px; font-weight: 700; color: #4F585E;"> 1 Lakh+ </h5>
        <p class="card-text text-muted" style="font-size: 18px; font-weight: 600; color: #4F585E;"> Medicines
          Available </p>



      </div>
    </div>

    <!-- -------------------------------one card ends -------------------------------- -->


  </div>
  <!-- advertisement ends --------------------------------------------------------------------------- -->


  <div class="bottombar mt-5">


    <div class="bottombarcontent">

      <div class="barcontent1" style="font-size: 26px;
          margin-bottom: 60px;
          font-weight: 700;
          color: #4f585e;">
        <p>Simplifying Healthcare, Impacting Lives</p>
      </div>

      <div class="barcontent2" style="font-size: 24px;
          font-weight: 700;
          color: #4f585e;
          padding-bottom: 15px;
          line-height: 1.8;">
        <p>Download the App for free</p>
      </div>

      <div class="barcontent3">

        <div class="pics">

          <a
            href="https://play.google.com/store/apps/details?id=com.phonegap.rxpal&hl=en_IN&gl=US&utm_source=web&utm_medium=footer">

            <img style=" height: 50px;
                width: 160px;" src="https://assets.pharmeasy.in/web-assets/dist/4e4f1cab.png" alt="">

          </a>


        </div>

        <div class="pics">

          <a href="https://apps.apple.com/in/app/pharmeasy-healthcare-app/id982432643">
            <img style="margin-left: 22px;
                height: 50px;
                width: 160px;" src="https://assets.pharmeasy.in/web-assets/dist/83095c03.png" alt="">

          </a>


        </div>

      </div>
      <!-- barcontent3 end  -->


    </div>
    <!-- bottombarcontent  -->

    <div class="bottombarpic">

      <img style="height: 321px; width: 470px;" src="https://assets.pharmeasy.in/web-assets/dist/f67d7f64.jpg"
        alt="">

    </div>




  </div>
  <!-- bottombar end  -->


  <div class="quesans mt-5 mb-4">

    <div class="_16DtI">
      <div class="_4aKSs">
        <h3 class="_1Dk9C"> </h3><span class="_2pY87"><a class=""
            href="/health-care/products/accu-chek-active-100-strips-172158"></a></span><span class="_2pY87"><a
            class="" href="/health-care/products/supradyn-multi-vitamin-tablet-15-s-293"></a></span><span
          class="_2pY87"><a class="" href="/health-care/products/dr-morepen-bg-03-50-strips-172151"></a></span><span
          class="_2pY87"><a class=""
            href="/health-care/products/dettol-antiseptic-liquid-550-ml-214952"></a></span><span class="_2pY87"><a
            class=""
            href="/health-care/products/ensure-diabetes-care-vanilla-sugar-free-jar-400gm-192393"></a></span><span
          class="_2pY87"><a class=""
            href="/health-care/products/dettol-instant-hand-sanitizer-original-200-ml-171058"></a></span><span
          class="_2pY87"><a class=""
            href="/health-care/products/everherb-shilajit-strength-vigour-power-anti-ageing-60-veg-capsules-234976"></a></span><span
          class="_2pY87"><a class="" href="/health-care/products/softovac-sf-powder-250gm-214770"></a></span><span
          class="_2pY87"><a class=""
            href="/health-care/products/pediasure-premium-chocolate-refill-1kg-190269"></a></span>
      </div>
      <div class="_4aKSs">
        <h3 class="_1Dk9C"> </h3><span class="_2pY87"><a class=""
            href="/online-medicine-order/dolovera-gel-30gm-176128"> </a></span><span class="_2pY87"><a class=""
            href="/online-medicine-order/neurobion-forte-tablet-50-201749"> </a></span><span class="_2pY87"><a
            class="" href="/online-medicine-order/chymoral-forte-strip-of-20-tablets-40467"> </a></span><span
          class="_2pY87"><a class="" href="/online-medicine-order/crocin-advance-500mg-strip-of-15-tablets-42306">
          </a></span><span class="_2pY87"><a class=""
            href="/online-medicine-order/soframycin-1-skin-cream-100gm-172663"></a></span><span class="_2pY87"><a
            class="" href="/online-medicine-order/dexorange-syp-200ml-10899"></a></span><span class="_2pY87"><a
            class="" href="/online-medicine-order/becadexamin-cap-30-s-36928"></a></span><span class="_2pY87"><a
            class="" href="/online-medicine-order/folvite-5mg-strip-of-45-tablets-29621"></a></span><span
          class="_2pY87"><a class="" href="/online-medicine-order/livogen-captab-15-s-8730"></a></span><span
          class="_2pY87"><a class=""
            href="/online-medicine-order/becosules-z-strip-of-15-capsules-36993"></a></span><span class="_2pY87"><a
            class="" href="/online-medicine-order/fourderm-cream-20gm-6864"></a></span><span class="_2pY87"><a
            class="" href="/online-medicine-order/nurokind-plus-rf-cap-10-s-175901"> </a></span><span
          class="_2pY87"><a class="" href="/online-medicine-order/burnol-cream-10gm-38470"></a></span><span
          class="_2pY87"><a class="" href="/online-medicine-order/crocin-650mg-fast-release-tablet-15-s-171919">
          </a></span><span class="_2pY87"><a class=""
            href="/online-medicine-order/mintop-forte-5-solution-60ml-8206"> </a></span><span class="_2pY87"><a
            class="" href="/online-medicine-order/thrombophob-gel-20gm-30466"></a></span><span class="_2pY87"><a
            class="" href="/online-medicine-order/evion-600mg-strip-of-10-capsules-46327"> </a></span>
      </div>
      <div class="_4aKSs">
        <h3 class="_1Dk9C"> </h3><span class="_2pY87"><a class="" href="/health-wellness/store/accu-chek-65502">
          </a></span><span class="_2pY87"><a class="" href="/health-wellness/store/dettol-97"></a></span><span
          class="_2pY87"><a class="" href="/health-wellness/store/horlicks-463"></a></span><span class="_2pY87"><a
            class="" href="/health-wellness/store/protinex-177"></a></span><span class="_2pY87"><a class=""
            href="/health-wellness/store/supradyn-38517"></a></span><span class="_2pY87"><a class=""
            href="/health-wellness/store/ensure-407"></a></span><span class="_2pY87"><a class=""
            href="/health-wellness/store/indulekha-65584"></a></span><span class="_2pY87"><a class=""
            href="/health-wellness/store/zandu-18003"></a></span><span class="_2pY87"><a class=""
            href="/health-wellness/store/pediasure-15166"></a></span><span class="_2pY87"><a class=""
            href="/health-wellness/store/dr-morepen-65136"> </a></span>
      </div>
      <div class="_4aKSs">
        <h3 class="_1Dk9C"> </h3><span class="_2pY87"><a class="" href="/health-wellness/collections/n95-masks-12">
          </a></span><span class="_2pY87"><a class="" href="/health-wellness/collections/hand-sanitizers-22">
          </a></span><span class="_2pY87"><a class=""
            href="/health-care/daily-essentials-197/covid-19-preventatives-198"></a></span>
      </div>
      <h1 class="_18iAu">Your One-Stop Online Pharmacy - Medical Care </h1>
      <h2 class="qZ2uj">We've got India Covered!</h2>
      <p class="_1htyN">We now deliver in 1000+ cities and towns across 22000+ pin codes. We thereby cover every
        nook and corner of the country! The major cities in which we deliver include Mumbai, Kolkata, Delhi,
        Bengaluru, Ahmedabad, Hyderabad, Chennai, Thane, Howrah, Pune, Gurgaon, Navi Mumbai, Jaipur, Noida, Lucknow,
        Ghaziabad &amp; Vadodara.</p>
      <h2 class="qZ2uj">Say Goodbye to All Your Healthcare Worries With Medical Care!</h2>
      <p class="_1htyN">Medical Care is here to help you take it easy! We are amongst one of India's top online
        pharmacy and medical care platforms. It enables you to order pharmaceutical and <a class="_3m-mc"
          href="/health-wellness">healthcare products online</a> by connecting you to registered retail pharmacies
        and get them delivered to your home. We are an online medical store, making your purchase easy, simple, and
        affordable!</p>
      <h2 class="qZ2uj">How Are We Making Lives Simpler With Our Online Medical Store?</h2>
      <p class="_1htyN">Our doorstep delivery service is available in PAN-India across top cities like Bangalore,
        Delhi, Mumbai, Kolkata, Hyderabad, Gurgaon, Noida, Pune, etc. Our online medical store also allows you to
        choose from 1 lakh+ products incl. OTC products and medical equipment. Medical Care is a one-stop online
        medical platform where you can also book <a class="_3m-mc" href="/diagnostics"> diagnostic tests </a>
        including blood tests, full-body checkups, and other preventive health check-ups at an affordable cost,
        right from the comfort of your home. We have partnered with trusted &amp; certified labs that arrange for a
        sample pick-up from the convenience of your home. They also provide you with timely reports.</p>
      <h2 class="qZ2uj">Why Are We The Most Preferred Online Pharmacy?</h2>
      <p class="_1htyN">Lucrative offers on our platform allow you to make payment online and via various payment
        wallets at a discounted price. Alternatively, you can also choose to pay cash on delivery as we deliver the
        products at your doorstep. We cater to all your pharmaceutical needs and also make<a class="_3m-mc"
          href="http://localhost:4200"> ordering medicines online</a> a hassle-free experience for you. We connect
        you only with registered retail pharmacies &amp; certified diagnostic labs. We ensure that healthcare is
        affordable to all and make the process of ordering online simple.</p>
      <h2 class="qZ2uj">Sit Back &amp; Relax While You Get Your Essentials Delivered Every Month!</h2>
      <p class="_1htyN">It’s tough to remember to refill every month, especially in the case of chronic diseases.
        Medical Care’s subscription service not only ensures that you are reminded of your refills but also makes sure
        that you are never out on your medical essentials. You will get a reminder every month and your order will
        be delivered at your convenience!</p>
      <h2 class="qZ2uj">We Believe in ‘Simplifying Healthcare, Impacting Lives!’</h2>
    </div>






  </div>
  <!-- ques ans ends  -->







