<br>

<div class="out">

    <table *ngIf="userDetails" class="table-fill "  >
        <thead>
            <tr>
                <th colspan="2" class="text-center">User Profile</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name</td>
                <td>{{userDetails.full_name.split(' ')[0]}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{userDetails.full_name.split(' ')[1]}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{userDetails.email}}</td>
            </tr>
            <tr>
                <td>Contact Number</td>
                <td>{{userDetails.phone}}</td>
            </tr>
    
    
            <tr>
                <td>Address</td>
                <td>{{userDetails.address}}</td>
            </tr>
    
    
            <tr>
                <td>State</td>
                <td>{{userDetails.state}}</td>
            </tr>
    
    
            <tr>
                <td>City</td>
                <td>{{userDetails.city}}</td>
            </tr>
    
            <tr>
                <td>Gender</td>
                <td>{{userDetails.gender}}</td>
            </tr>
    
    
            <!-- <tr>
                <td  class="text-center">
                    <input type="button" (click)="onLogout()" value="Logout" />
                </td>
            </tr> -->
    
            
        </tbody>
        
        
        
    </table>


</div>




<div class="button mt-3"style="display:flex;justify-content: center;">

    <input type="button" (click)="onLogout()" value="LOGOUT" style="background-color: navy; color: white;font-size: 15px;"     />
</div>