#btn1:hover ,google-chart:hover {

  cursor: pointer;
  background: #1a1d58;
 
  box-shadow: 5px 5px 25px 2px gray;

}



#chrtcontainer{
  display:flex;
  justify-content: center;
  padding:0px;
}



.btncontainer{
  

    margin-top: 28px;
    padding: 0px 375px;
    margin-bottom: 27px;
}

#btn1{
  width: 100%;
  padding: 11px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16.8px;
  /* background: darkslategrey; */
  background: #0e103a;
  font-weight: 500;
}



.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track_outer{
    /* border: 1px solid black; */
    padding: 0px 53px;
    margin-top: 77px;
    margin-bottom: 60px;
    padding-bottom: 5px;

    /* border: 2px solid black;
    padding: 0px 53px;
    margin-top: 52px;
    margin-bottom: 24px; */

}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: green
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: green;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}














#register_button{
    width: 100%;
    border-radius: 20px;
    padding: 17px 0px;
    
}




.remarks {
    display: flex;
    border-radius: 5px;
    padding: 12px 27px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #dfe3e6;
    margin: 0px 80px;
    margin-bottom: 33px;
    margin-top: 40px;

}    

.remarks p{
    font-size: 15px;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;

    margin-bottom: 0px;
    font-weight: 600;
    color: #565b5b;

}

.remarks_reason{
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    font-weight: 400;
    color: red;
}



.nopendingrecordfound{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px 0px;
}
.nopendingrecordfound p{

    font-size: 32px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    font-weight: 600;
    color: #565b5b;

}

.date {
    text-align: center;
    /* margin: 23px 0px; */
    margin-top: 28px;
    margin-bottom: 32px;
   

}

.date p{
    margin: 27px 0px;
    color: green;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}


.date span {
    background: #ac5b35;
    color: white;
    font-size: 20px;

    font-weight: 600;
    padding: 10px 12px;
    /* border-radius: 11px; */
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px 82px;
}



.topbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;

}

.topbar .item1{
    border: 1px solid gray;
    padding: 15.5px 131px;
    font-size: 21.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #565b5b; */
    background: #0e103a;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}












.topbar .item1:hover{

    cursor: pointer;
    background: #1a1d58;
    /* border-bottom: 3px solid yellow; */
    box-shadow: 5px 5px 25px 2px gray;


   
   
}


.highlighted{
    cursor: pointer;
    background: #259188;
    text-decoration: underline;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid red;
    color : white;
    /* box-shadow: 5px 5px 25px 2px gray; */


}


.date {
    text-align: center;
    /* margin: 23px 0px; */
    margin-top: 20px;
    margin-bottom: 28px;
   

}

.date span {
    background: #35ac8c;
    color: white;
    font-size: 20px;

    font-weight: 600;
    padding: 10px 12px;
    border-radius: 11px;
    font-family: 'Source Sans Pro', sans-serif;
}



.tot_amount{

    /* border: 2px solid #565b5b; */
    padding-bottom: 31px;
    padding-left: 68%;
    color: #565b5b;
    
    
    font-family: 'Source Sans Pro', sans-serif;
    
    }
    
    #register_button{
        width: 100%;
        border-radius: 20px;
        padding: 17px 0px;
        
    }
    
    
    
    .amt_mentioned{
    
        
        font-size: 23px;
        font-weight: 600;
    
    
    }
    
    .amt_head{
        font-size: 22px;
        font-weight: 500;
        margin-right: 56px;
    }
    
    .med_cart_add_subs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* border: 1px solid black;
        border-radius: 3px; */
        text-align: center;
        justify-items: space;
        align-items: center;
        width: 107px;
        padding: 5px 0px;
        justify-content: space-around;
        font-size: 21px; 
        margin-left: 0%;
    }
    
    
    .med_cart_add_subs span {
        text-align: center;
        border: 0.5px solid black;
        padding: 1px 10px;
        font-size: 16px;
        margin-top: 8px;
    
    
    } 
    
    .med_cart_add_subs i:hover{
        cursor: pointer;
        font-size: 21.4px;
    }
    
    .med_cart_tot_price{
        margin-right: 34px;
        font-size: 17px;
    }
    
    
    
    
    .show_med_here{
    
        display: flex;
        
        flex-direction: column;
        justify-content: space-between;
       
        flex-wrap: wrap;
    }
    
    ._2rW0m{
        margin: 10px 0px;
        font-size: 15px;
    
    
    }
    
    .foot{
        width: 340px;
    }
    
    
    .footer{
        display: flex;
        
        flex-direction: row;
        justify-content: space-between;
       
        flex-wrap: wrap;
    }
    
    
    
    /* -------------------------------------------------------------------------- */
    
    .med_details{
        text-align: justify;
         width: 27rem;
         margin-right: -20%;
         /* width: auto;
         margin-left: -28%; */
    }
    
    
    .imgAndDetails{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    
    }
    
    
    .show_med {
        display: flex;
        border-radius: 5px;
        padding: 12px 27px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid #dfe3e6;
        margin: 0px 80px;
        margin-bottom: 24px;
    
    }    
    
    .med_priceandcart{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        flex-wrap: wrap;
        /* border: 1px solid pink; */
    
    
    }
    .med_image:hover {
    /* border: 2px solid black; */
    cursor: pointer;
    }
    
    .med_image img{
    border: 1px solid #dfe3e6;
    height: 77px;
    width: 73px;
    margin-right: 21px;
    
    
    }
    
    .name p{
    font-size: 19px;
    color: #565b5b;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    
    
    
    }
    
    
    
    .med_quantity{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    
    }
    
    .med_price p{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 0px;
    }
    
    
    
    
    
    .med_cart button{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    
    font-weight: bold;
    font-size: 14px;
    background: #cc0808;
    padding: 7px;
    border-radius: 7px;
    margin-left: -36%;
    
    
    }
    
    
    .med_cart button:hover{
    font-size: 15px;
    background: #db0808;
    }
    
    
    
    
    .discount{
    
        background-image: url("https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg");
        height: 25px;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    
        padding-left:4px;
        text-align: initial;
        width: 98px;
        font-size: 10px;
        margin-left: 13px;
        padding-top: 5px;
        padding-bottom: 3px;
        padding-right: 20px;
    
    
        }
    
    
    /* ------------------------------------------------------------------------------- */
    
    .searchbox_container{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
    
                        flex-wrap: wrap;
                        padding-top: 12px;
                        border-radius: 5px;
                        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                        background-color: rgb(16, 132, 126);
                        color: white;
    
    
                }
    
    .advertisement div img{
        padding-bottom: 3px;
    }
    
    .advertisement{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        font-size: 15px;
                        /* font-weight: 600; */
                        flex-wrap: wrap;
                        margin-bottom: 32px;
                        /* border: 1px solid green; */
                        width: 100%;
    
                    }
    
    .search_head{
        font-size: 22px;
        /* font-weight: bold; */
        margin-bottom: 14px;
    }
    
    
    .search_box{
        width: 90%;
        font-size: 18px;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* ----------------------------------------------------------------------------------------- */
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .acc{
        display: flex;
         justify-content: center; 
         font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        color: #0e103a;
        font-size: 16px;
         
    }
    
    
    #top{
        background: #0e103a;
        color: white;
    
    }
    
    .form-group button {
        /* font-weight:600; */
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 16px;
        
        text-align: center;
        color: white;
        background-color:#0e103a;
    }
    label {
        /* font-weight:600; */
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 15.5px;
        margin-top: 0.5px;
        /* margin-bottom: 0.4px; */
        font-weight: 540;
    }
    input,
    select {
        /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
        font-family: Arial, Helvetica, sans-serif;
    
        font-size: 14px;
    }
    input {
        height: 30px;
    }
    
    #top,#right{
        margin: 5px 10%
    }
    
    #top p {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        /* font-family: Arial, Helvetica, sans-serif; */
    
        font-weight: bold;
    }
    
    #right {
        padding-bottom: 5px;
    
        /* border-right: 5px solid green;
        border-top: 5px solid green; */
        
        border: 0px;
    
    padding-bottom: 66px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
    
    #top i:hover {
        font-size: 28px;
        cursor: pointer;
    }
    
    .userpic i:hover {
        font-size: 65px;
        cursor: pointer;
    }
    
    #top p:hover {
        font-size: 28px;
        cursor: pointer;
    }
    .form-group button:hover {
        
        font-size: 18px;
        cursor: pointer;
        
    }
    small {
        /* margin-left: 100px; */
    }
    #top[_ngcontent-ucu-c102], #right[_ngcontent-ucu-c102] {
        margin: 5px 27%;
    }