<div class="ui  dimmer " id="load"  [class.active]="loader">
  <div class="ui massive text loader"> Please wait for a moment... </div>
</div>





<div class="topbar">


        <div    type="button"   class="btn item1"  [class.highlighted]="category_selected === 'completed' "    (click)="Category('completed')"   >
            Completed

        </div>


        <div    type="button"   class="btn item1"     [class.highlighted]="category_selected === 'pending-approval' "        (click)="Category('pending-approval')" >

              Pending-Approval
        </div>


        <div    type="button"   class="btn item1"        [class.highlighted]="category_selected === 'approved' "      (click)="Category('approved')" >
          Approved

        </div>

        <div    type="button"   class="btn item1"   [class.highlighted]="category_selected === 'cancelled' "      (click)="Category('cancelled')" >
          Cancelled

        </div>




</div>
<!-- topbar ends  -->

<!-- ---------------------------------------------------------------------------------------------------------------------------------------- -->









<!-- --------------COMPLETED------------------------------------------------------------------------------------------------------ -->

<div class="show_med_here mt-3 mb-3 mr-3 ml-3"      *ngIf="(category_selected === 'completed')"   >

  <!-- chart  -->

  <div class="btncontainer">
    <button class="btn btn-secondary " type="button"    id="btn1"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  (click)="displayChart()"  >
      VIEW ORDER-STATUS CHART
    </button>
  </div>
  
  <div class="collapse" id="collapseExample">
    <div class="1card card-body"  id="chrtcontainer" >

     
        <google-chart  class="4"  [data]="lineChart" style="color: red;"  #mychart  ></google-chart>
     

    
  
    </div>
  </div>
  





  <!-- chart  -->

      


    <div class="card mt-3 pl-3 pr-3 mb-4" style="border:1.2px solid #b9bdc0; border-radius: 15px; margin: 0px 25px;    "   *ngFor="let outer_ele of prevOrderDetails_arrayOfObjects"   >
     <div class="card-body"  style="padding: 0px;"     >
  
  
     <div class="date">

        <span>Ordered On : &nbsp;  {{(outer_ele.order_date)}}    </span>
           
            

     </div>
     <!-- date -->
      
         <div class="show_med"     *ngFor="let ele of outer_ele.total_medicine_details"   >
  
  
  
          <div class="imgAndDetails">
  
            <div class="med_image">
                 
              <img src = {{ele.medicine_details.imageUrl}} alt="" (click)="showMedicineDetails(ele.medicine_details)" >
  
  
          </div>
          <!-- medimage ends  -->
  
          <div class="med_details" style=" text-align: justify; width: 27rem;">
  
              <div class="name" >
                 
                  <p>{{ele.medicine_details.name}} </p>
  
  
              </div>
              <!-- name ends  -->
  
             
  
              <div class="med_quantity"  >
                   <p >
                       Quantity : <b>  {{ele.medicine_details.quantity}}     </b>
                   </p>
  
                  
  
              </div>
              <!-- quantity ends  -->
  
  
              <div class="med_priceandcart">
  
                  <div class="med_price"  style="line-height: 15px; ">
                      <p>
                          MRP &nbsp; ₹{{ele.medicine_details.amount}}
  
                          <span class="discount ">
                          {{ele.medicine_details.discount}}
                          </span>
  
                      </p>
  
                      <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                     
  
                      
                  </div>
  
                 <!-- cart btn was present  -->
  
  
              </div>
              <!-- med price and cart ends  -->
          </div>
          <!-- med details  -->
  
  
          </div>
          <!-- image and details  -->
  
   
  
           
  
            <div class="med_cart_add_subs">
  
             
              
                Quantity
                
              <span > {{ele.quantity_added}} </span>
  
              
  
  
  
            </div>
            <!-- cart addsub button  -->
  
            <div class="med_cart_tot_price">
  
              ₹{{ele.total_amount}} 
              
  
            </div>
            <!-- cart button  -->
  
  
  
  
         </div>
         <!-- show_med ends  -->



         <div class="track_outer ">

          <div class="track ">
              <div class="step "  [class.active]=" (1<=outer_ele.status)  "   > <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Ordered</span> 
              
                <span>  {{outer_ele.order_date | date:'dd-MM-yyyy' }}  </span>   <span *ngIf="outer_ele.order_date  !== undefined      ">at</span>
                {{outer_ele.order_date | date:'mediumTime'}}
              
              </div>

              <div class="step "  [class.active]=" (2<=outer_ele.status)     "    > <span class="icon"> <i class="fa fa-box-open"></i> </span> <span class="text"> Packaged</span> 
              
                 <span>  {{outer_ele.packaged_date | date:'dd-MM-yyyy' }}  </span>   <span *ngIf="outer_ele.packaged_date !== undefined    ">at</span>
                    {{outer_ele.packaged_date | date:'mediumTime'}}
              
              </div>

              <div class="step"  [class.active]=" (3<=outer_ele.status)    "    > <span class="icon"> <i class="fa fa-people-carry"></i> </span> <span class="text"  > Dispatched </span> 

                <span>  {{outer_ele.dispatched_date | date:'dd-MM-yyyy' }}  </span>   <span *ngIf="outer_ele.dispatched_date !== undefined    ">at</span>
                    {{outer_ele.dispatched_date | date:'mediumTime'}}
              
              
              </div>
              <div class="step"   [class.active]=" (4<=outer_ele.status)    "        > <span class="icon"> <i class="fas fa-truck"></i> </span> <span class="text"> Delivered  </span>
              
                <span>  {{outer_ele.delivered_date | date:'dd-MM-yyyy' }}  </span>  <span *ngIf="outer_ele.delivered_date !== undefined    ">at</span>
                {{outer_ele.delivered_date | date:'mediumTime'}}
            
              
              </div>
          </div>


       </div>
       <!-- trackouter  -->
       <!-- ---------------------------------------------------------------------------------------------- -->





     </div>
   </div>
   <!-- card ends --------------------------------------------------------- -->
  
   
  
  
  </div>
  <!-- show med here ebnds  -->
  
  <!-- ------------------------------------------------------------------------------------------------------------------- -->
  


  <!-- pending approval  ----------------------------------------------------------------------------------------------------------->


  <div class="show_med_here mt-3 mb-4 mr-3 ml-3"   *ngIf="(category_selected === 'pending-approval')"    >


    <div class="nopendingrecordfound"    *ngIf="(pendingOrderDetails_arrayOfObjects ==0)" else pendingRecordFound  >

          <p>No Pending-Approval Record Found !</p>

    </div>  


    <div class="card mt-3 pl-3 pr-3 mb-4"  #pendingRecordFound   style="border:1.2px solid #b9bdc0; border-radius: 15px; margin: 0px 25px; "      *ngFor="let outer_ele of pendingOrderDetails_arrayOfObjects"   >
     <div class="card-body"  style="padding: 0px;"     >
  
  
        <div class="date">

                
                <span>Ordered On : &nbsp;  {{(outer_ele.prev_order_details[0].order_date)}}    </span>
                <span  style="background-color: #db0a0a;"  >Status : &nbsp;  {{(outer_ele.status | uppercase )}}    </span>
                <p style="color: red;" >(Your order is under verification.It may take 1-2 business days)</p>


           
            

        </div>
     <!-- date -->
      
         <div class="show_med"     *ngFor="let ele of outer_ele.prev_order_details[0].total_medicine_details"   >
  
  
  
          <div class="imgAndDetails">
  
            <div class="med_image">
                 
              <img src = {{ele.medicine_details.imageUrl}} alt="" (click)="showMedicineDetails(ele.medicine_details)" >
  
  
             </div>
          <!-- medimage ends  -->
  
          <div class="med_details" style=" text-align: justify; width: 27rem;">
  
                 <div class="name" >
                 
                  <p>{{ele.medicine_details.name}} </p>
  
  
                </div>
              <!-- name ends  -->
  
             
  
                 <div class="med_quantity"  >
                   <p >
                       Quantity : <b>  {{ele.medicine_details.quantity}}     </b>
                   </p>
  
                  
  
                 </div>
              <!-- quantity ends  -->
  
  
                <div class="med_priceandcart">
  
                    <div class="med_price"  style="line-height: 15px; ">
                      <p>
                          MRP &nbsp; ₹{{ele.medicine_details.amount}}
  
                          <span class="discount ">
                          {{ele.medicine_details.discount}}
                          </span>
  
                      </p>
  
                      <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                     
  
                      
                    </div>
  
                
  
  
                </div>
              <!-- med price and cart ends  -->
          </div>
          <!-- med details  -->
  
  
          </div>
          <!-- image and details  -->
  
   
  
           
  
            <div class="med_cart_add_subs">
  
             
              
                Quantity
                
              <span > {{ele.quantity_added}} </span>
  
              
  
  
  
            </div>
            <!-- cart addsub button  -->
  
            <div class="med_cart_tot_price">
  
              ₹{{ele.total_amount}} 
              
  
            </div>
            <!-- cart button  -->
  
  
            
  
         </div>
         <!-- show_med ends  -->


         <div class="prescription mt-5"     style="display: flex;align-items: center; flex-direction: column; font-size: 23px; font-family: 'Source Sans Pro', sans-serif;"   >

            <!-- <p>Prescription</p> -->

            <img  class="mb-4"    src= {{(outer_ele.prescriptionUrl)}}  alt=""      style="border: 1px solid grey;width: 50%; height: 476px;">



          </div>
        






     </div>
   </div>
   <!-- card ends --------------------------------------------------------- -->
  
   
  
  
  </div>
  <!-- show med here ebnds  -->
  
  <!-- ---------------------------------------------------------------------------------------- -->
  

   <!-- approved status   ----------------------------------------------------------------------------------------------------------->


   <div class="show_med_here mt-3 mb-4 mr-3 ml-3"   *ngIf="(category_selected === 'approved')"    >


    <div class="nopendingrecordfound"    *ngIf="(approvedOrderDetails_arrayOfObjects ==0)" else approvedRecordFound  >

          <p>No Approved Record Found !</p>

    </div>  


    <div class="card mt-3 pl-3 pr-3 mb-4"  #approvedRecordFound   style="border:1.2px solid #b9bdc0; border-radius: 15px; margin: 0px 25px; "      *ngFor="let outer_ele of approvedOrderDetails_arrayOfObjects"   >
     <div class="card-body"  style="padding: 0px;"     >
  
  
        <div class="date">

                
                <span>Ordered On : &nbsp;  {{(outer_ele.prev_order_details[0].order_date)}}    </span>
                <span  style="background-color: green;"  >Status : &nbsp;  {{(outer_ele.status | uppercase )}}    </span>
                <p>(Congratulations !! Verification is successfull.You can now proceed for the payment)</p>

           
            

        </div>
     <!-- date -->
      
         <div class="show_med"     *ngFor="let ele of outer_ele.prev_order_details[0].total_medicine_details"   >
  
  
  
          <div class="imgAndDetails">
  
            <div class="med_image">
                 
              <img src = {{ele.medicine_details.imageUrl}} alt=""  (click)="showMedicineDetails(ele.medicine_details)" >
  
  
             </div>
          <!-- medimage ends  -->
  
          <div class="med_details" style=" text-align: justify; width: 27rem;">
  
                 <div class="name" >
                 
                  <p>{{ele.medicine_details.name}} </p>
  
  
                </div>
              <!-- name ends  -->
  
             
  
                 <div class="med_quantity"  >
                   <p >
                       Quantity : <b>  {{ele.medicine_details.quantity}}     </b>
                   </p>
  
                  
  
                 </div>
              <!-- quantity ends  -->
  
  
                <div class="med_priceandcart">
  
                    <div class="med_price"  style="line-height: 15px; ">
                      <p>
                          MRP &nbsp; ₹{{ele.medicine_details.amount}}
  
                          <span class="discount ">
                          {{ele.medicine_details.discount}}
                          </span>
  
                      </p>
  
                      <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                     
  
                      
                    </div>
  
                
  
  
                </div>
              <!-- med price and cart ends  -->
          </div>
          <!-- med details  -->
  
  
          </div>
          <!-- image and details  -->
  
   
  
           
  
            <div class="med_cart_add_subs">
  
             
              
                Quantity
                
              <span > {{ele.quantity_added}} </span>
  
              
  
  
  
            </div>
            <!-- cart addsub button  -->
  
            <div class="med_cart_tot_price">
  
              ₹{{ele.total_amount}} 
              
  
            </div>
            <!-- cart button  -->
  
  
            
  
         </div>
         <!-- show_med ends  -->


         <div class="prescription mt-5"     style="display: flex;align-items: center; flex-direction: column; font-size: 23px; font-family: 'Source Sans Pro', sans-serif;"   >

            <!-- <p>Prescription</p> -->

            <img  class="mb-4"    src= {{(outer_ele.prescriptionUrl)}}  alt=""      style="border: 1px solid grey;width: 50%; height: 476px;">



          </div>
        


          <div class="form-group"     style="display: flex; justify-content: center; "  >
            <div class="col-sm-offset-2 col-sm-10 mt-4" style="display: flex; justify-content: center; ">
              <button type="submit" class="btn btn-default"  id="register_button"   (click)="Paynow(outer_ele)"  > PLACE ORDER</button>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------ -->





     </div>
   </div>
   <!-- card ends --------------------------------------------------------- -->
  
   
  
  
  </div>
  <!-- show med here ebnds  -->
  
  <!-- ---------------------------------------------------------------------------------------- -->
  

   <!-- cancelled status   ----------------------------------------------------------------------------------------------------------->


   <div class="show_med_here mt-3 mb-5 mr-3 ml-3"   *ngIf="(category_selected === 'cancelled')"    >


    <div class="nopendingrecordfound"    *ngIf="(cancelledOrderDetails_arrayOfObjects ==0)" else cancelledRecordFound  >

          <p>No Cancelled Record Found !</p>

    </div>  


    <div class="card mt-3 pl-3 pr-3 mb-5"  #cancelledRecordFound   style="border:1.2px solid #b9bdc0; border-radius: 15px; margin: 0px 25px; "      *ngFor="let outer_ele of cancelledOrderDetails_arrayOfObjects"   >
     <div class="card-body"  style="padding: 0px;"     >
  
  
        <div class="date">

                
                <span>Ordered On : &nbsp;  {{(outer_ele.prev_order_details[0].order_date)}}    </span>
                <span  style="background-color: #db0a0a;"  >Status : &nbsp;  {{(outer_ele.status | uppercase )}}    </span>

           
            

        </div>
     <!-- date -->

     <div class="remarks">

      <p>Reason for cancelling : &nbsp; <span class="remarks_reason">{{outer_ele.remarks}}</span> </p>

     
    

     </div>
     <!-- remarks  -->
      
         <div class="show_med"     *ngFor="let ele of outer_ele.prev_order_details[0].total_medicine_details"   >

         
  
  
          <div class="imgAndDetails">
  
            <div class="med_image">
                 
              <img src = {{ele.medicine_details.imageUrl}} alt="" (click)="showMedicineDetails(ele.medicine_details)"  >
  
  
             </div>
          <!-- medimage ends  -->
  
          <div class="med_details" style=" text-align: justify; width: 27rem;">
  
                 <div class="name" >
                 
                  <p>{{ele.medicine_details.name}} </p>
  
  
                </div>
              <!-- name ends  -->
  
             
  
                 <div class="med_quantity"  >
                   <p >
                       Quantity : <b>  {{ele.medicine_details.quantity}}     </b>
                   </p>
  
                  
  
                 </div>
              <!-- quantity ends  -->
  
  
                <div class="med_priceandcart">
  
                    <div class="med_price"  style="line-height: 15px; ">
                      <p>
                          MRP &nbsp; ₹{{ele.medicine_details.amount}}
  
                          <span class="discount ">
                          {{ele.medicine_details.discount}}
                          </span>
  
                      </p>
  
                      <small style="font-size: 11.5px;">  inclusive of all taxes  </small>
                     
  
                      
                    </div>
  
                
  
  
                </div>
              <!-- med price and cart ends  -->
          </div>
          <!-- med details  -->
  
  
          </div>
          <!-- image and details  -->
  
   
  
           
  
            <div class="med_cart_add_subs">
  
             
              
                Quantity
                
              <span > {{ele.quantity_added}} </span>
  
              
  
  
  
            </div>
            <!-- cart addsub button  -->
  
            <div class="med_cart_tot_price">
  
              ₹{{ele.total_amount}} 
              
  
            </div>
            <!-- cart button  -->
  
  
            
  
         </div>
         <!-- show_med ends  -->


         <div class="prescription mt-5"     style="display: flex;align-items: center; flex-direction: column; font-size: 23px; font-family: 'Source Sans Pro', sans-serif;"   >

            <!-- <p>Prescription</p> -->

            <img  class="mb-4"    src= {{(outer_ele.prescriptionUrl)}}  alt=""      style="border: 1px solid grey;width: 50%; height: 476px;">



          </div>
        






     </div>
   </div>
   <!-- card ends --------------------------------------------------------- -->
  
   
  
  
  </div>
  <!-- show med here ebnds  -->
  
  <!-- ---------------------------------------------------------------------------------------- -->
  

