
<div class="jumbotron bg-white" style="text-align: center;">
  <h1 class="display "> COVID-19 TRACKER</h1>
  <hr>

 <!-- --------------------------------------------------------------------------------------------------- -->



<app-covid-dashboard    [tot_confirmed]="tot_confirmed" [tot_active]="tot_active" [tot_recovered]="tot_recovered"
[tot_deaths]="tot_deaths"    ></app-covid-dashboard>


</div>





<div class="ui form m-5" >
  <div class="inline fields">
    <label for="fruit" style="padding-bottom: 8px;
    font-size: 16px;">Select case type : </label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio"  id="c"  value="c" #c  (click)="updatechart('c' )"      name="select_one_at_a_time" >
        <label  for="c"  style="font-size: 16px;margin-right:10px" >Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio"  id="r" value="r"  #r  (click)="updatechart('r')"    name="select_one_at_a_time">
        <label  for="r"   style="font-size: 16px;margin-right:10px;color: midnightblue;"      >Recovered</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id="a" value="a"  #a  (click)="updatechart('a')"  name="select_one_at_a_time" checked="">
        <label for="a"  style="font-size: 16px;margin-right:10px;color: rgb(14, 167, 14);"     >Active</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id="d"  value="d" #d  (click)="updatechart('d')"  name="select_one_at_a_time">
        <label for="d"  style="font-size: 16px;margin-right:10px;color: red"      >Deaths</label>
      </div>
    </div>
  </div>
</div>


<div class="charts">
  
<google-chart class="mr-2 chrt" [data]="pieChart"  #mychart  ></google-chart>
<google-chart  class="chrt"  [data]="lineChart"  #mychart2  ></google-chart>



</div>


