.charts{
  display: flex;
  flex-direction:row-reverse;
  flex-wrap: nowrap;
  /* border: 1px solid black; */
  justify-content: space-around;
  margin-left:100px;
  /* margin-right: 50px; */
}

.display{
  font-size: 49px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #0e103a;
    padding-bottom:14px;
}



label:hover{
  cursor:pointer;
  text-decoration: underline;
}
