.error-template {padding: 40px 15px;text-align: center;font-size: 35px;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; font-size: 17px;}
.container{
    margin-bottom: 145px;
}
.error-template,.error-details{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}