<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template mt-5">
                <h1 style="font-size: 60px;">
                    Oops!</h1>
                <h2  style="font-size: 40px;">
                    404 Page Not Found</h2>
                <div class="error-details mb-5"   style="font-size: 25px;" >
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions mt-3">
                    <a   [routerLink]="['/home']" routerLinkActive="active"  class="btn btn-primary btn-lg " style="background-color: #1a314b;" ><span class="glyphicon glyphicon-home"></span>
                        <i class="fas fa-home"></i> Take Me Home </a> <a  [routerLink]="['/contact']" routerLinkActive="active"   class="btn btn-primary btn-lg" style="background-color: #1a314b;"  ><span class="glyphicon glyphicon-envelope"></span> <i class="fas fa-phone-alt"></i>     Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
