






.outer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    flex-wrap: wrap;

    
}

.cardss{
    margin: 0px 38px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}

.cardss:hover{
    box-shadow: 5px 5px 25px 2px gray;


}


.description p {
    font-size: 13.8px;
    font-family: 'Source Sans Pro', sans-serif;

}

.header{

    font-size: 1.3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;


}

.meta{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;



}

.view_order{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;

}

.view_order:hover{
    font-size: 1.3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-shadow: 5px 5px 25px 2px gray;
    padding: 8px 0px;
    background-color: aliceblue;


}

