<div class="ui  dimmer " id="load"  [class.active]="loader">
    <div class="ui massive text loader"> Fetching User Profile Details ... </div>
  </div>
  
  


<div class="outer">

   
            
      <div class="ui link cards cardss mt-3 mb-5"   *ngFor="let user of userDetails" >
            <div class="card">
              <div class="image">
                  <!-- male or female  -->
                <img src="../assets/male.png"  #male  *ngIf=" user.gender=== 'male' " >
                <img src="../assets/female.png"  #female *ngIf=" user.gender=== 'female' " >

        
              </div>
              <div class="content">
                <div class="header"> {{user.full_name | titlecase}} </div>
                <div class="meta">
                  <a>  {{user.gender | titlecase}}  </a>
                </div>
                <div class="description mt-3">
                  
                    <p> <b>Email Id :</b> {{user.email}}</p>
                    <p> <b>Contact No. :</b> +91 {{user.phone}}</p>
        
        
                </div>
              </div>
              <div class="extra content box1">
        
                <span class="view_order"  (click)="getUserPrevOrderHistory(user.email)"   >View Order Details ></span>
                
              </div>
            </div>
        </div>
    

    <!-- ------------------------------------------------------------------------------------------card ends  -->


   

  
    


   



</div>
<!-- outer ends  -->

