/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


mat-dialog-container#modal-component{

border: 3px solid #262626;
border-radius: 11px;
background-color: #1a1a1a;


}