
<div class="ui  dimmer " id="load"  [class.active]="loader"  style="width: 100%"  >
  <div class="ui massive text loader">Verifying Admin Credentials ...</div>
</div>



<div class="alert alert-danger m-0 alert-dismissible fade show" role="alert"  *ngIf="serverErrorMessages"   style="padding: 15px; margin: 0px;"  >
    <strong> Opps !!</strong>&nbsp; {{serverErrorMessages}}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  

  <!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="container">

    <div class="card" style="border: 0px;"  >
    
        <div class="card-body" id="top"   style=" text-align: center;font-size:25px; margin: 5px 27%;padding-bottom: 2px;">
            
            <i class="fas fa-user-shield"></i>
          <p style="font: 23px;">SIGN IN</p>
        </div>
    </div>
    <!-- signin close  -->
  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->

        <div class="card" id="right" style="margin: 5px 27%;">
            <form #userform="ngForm"  class="card-body">
                <!-- {{userform.value | json}}
                {{usermodel | json}} -->
                <div class="contact-form">

                    <div class="userpic"  style="display: flex; justify-content: center;font-size:59px;margin-top: -20px; color: #0e103a; ">
                        <i class="fas fa-user-circle"></i>
                    </div>

                    <!-- ------------------------------------------------------------------------------------ -->

                    <div class="form-group">
                        <label class="control-label col-sm-10" for="email">EMAIL</label>
                        <div class="col-sm-12">
                          <input type="email" class="form-control" id="email" #email="ngModel"   [class.is-invalid]="email.invalid && email.touched"     [(ngModel)]="usermodel.email" required email   name="email">
                 
                          <div *ngIf="email.touched && email.invalid"    >
                            <small class="text-danger"  *ngIf="email.errors.required" >Email is required **</small>
                            <small class="text-danger" *ngIf="email.errors.email"  >Wrong email id !!</small>
                           </div>
                        </div>
                    </div>
                 

                    <!-- -----------------------------------------------------email close---------------------------------- -->

                    <div class="form-group">
                        <label  class="control-label col-sm-10 "    for="password">PASSWORD</label>
                        <div class="col-sm-12">
                          <input type="password" class="form-control" id="password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"   #password="ngModel" [class.is-invalid]="password.invalid && password.touched"   [(ngModel)]="usermodel.password"  required minlength="8"  name="password"  >
                 
                          <div *ngIf="password.touched && password.invalid"   >
                            <small class="text-danger" *ngIf="password.errors.required" >Password is required **</small>
                            <small class="text-danger " *ngIf="password.errors.minlength" >Passsword must be aleast 8 characters.</small>
                            <small class="text-danger" *ngIf="password.errors.pattern &&  !(password.errors.minlength) " >Passsword must contain atleast at least 1 uppercase, 1 lowercase, 1 digit & 1 special character.</small>
                 
                           </div>
                        </div>
                      </div>
                        <!-- ------------------------------------------------------password close------------------------------ -->

                        <div class="form-group"     style="display: flex; justify-content: center; "  >
                            <div class="col-sm-offset-2 col-sm-10 mt-4" style="display: flex; justify-content: center; ">
                              <button type="submit" class="btn btn-default"  id="register_button"   (click)="onLogin()"  >SIGN IN</button>
                            </div>
                        </div>
                        <!-- ------------------------------------------------------------------------------------ -->


                        <div class="card" style="border: 0px; margin: 0px; padding: 0px;"  >
                            <div class="card-body acc">
                                Don't have an account? &nbsp;
                                <a  [routerLink]="['/adminSignup']" routerLinkActive="active"  > Click Here </a>
                            </div>
                          </div>


                </div>
                <!-- contact form close  -->

               

            </form>
        </div>
        <!-- right close  -->



</div>
<!-- conatainer close  -->